{% extends "shopbase.html.twig" %}
{% block content %}
<div class="container main-container headerOffset">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">

                <p class="lead text-center"> ... Seite nicht gefunden .... </p>

                <h1 class="h1error"><span class="err404"> 404</span> ERROR </h1>

                <h1 class="h1error"><span class="err404"> <i class="fa fa-frown-o"></i></span></h1>


            </div>
            <!--/row end-->
        </div>
        </div>
    </div>
    <!--/.innerPage-->
    <div style="clear:both"></div>


<div class="gap"></div>
{% endblock %}