/app/bootstrap.php.cache

/app/cache/*

!app/cache/.gitkeep

/app/config/parameters.yml

/app/logs/*

!app/logs/.gitkeep

/app/phpunit.xml

/bin/

/composer.phar

/vendor/

/web/bundles/

/elastica
/BackUpDoctrineXML
/nbproject
/web/images/product
/web/downloads
/elasticsearch-1.7.2
/elasticsearch-2.3.1
/elasticsearch-2.3.2
