<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/ico/favicon.png">
    <title>BasisOrth GmbH</title>
    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    
    {% block js_top %}
        
    <!-- styles needed by swiper slider -->
    <link href="/assets/css/idangerous.swiper.css" rel="stylesheet">

    {% endblock %}
    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/skin-5.css" rel="stylesheet">
    
    <!-- Just for debugging purposes. -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- include pace script for automatic web page progress bar  -->
    <script>
        paceOptions = {
            elements: true
        };
    </script>
    <script src="/assets/js/pace.min.js"></script>
</head>

<body>

<!-- Fixed navbar start -->
<div class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation">
    <div class="navbar-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                    <div class="pull-left ">
                        <ul class="userMenu ">
                            <li><a href="#"> <span class="hidden-xs">Fragen?</span><i
                                    class="glyphicon glyphicon-info-sign hide visible-xs "></i> </a></li>
                            <li class="phone-number"><a href="#"> <span> <i
                                    class="glyphicon glyphicon-phone-alt "></i></span> <span class="hidden-xs" style="margin-left:5px"> +49 4152 87 87 0 </span>
                            </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
                    <div class="pull-right">
                        <ul class="userMenu">
                            <li>{% if not is_granted('ROLE_OCIUSER') %} <a href="/account/my-account"><span class="hidden-xs"> Mein Konto</span> <i
                                    class="glyphicon glyphicon-user hide visible-xs "></i></a>
                            {% endif %}
                            </li>
                                   {% if (is_granted('ROLE_USER') or is_granted('ROLE_OCIUSER') )%}     
                                    <li><a href="/logout"> <span class="hidden-xs">Ausloggen</span>
                                   {% else %}
                                   <li><a href="/login"> <span class="hidden-xs">Einloggen</span>    
                                   {% endif %}         
                                <i class="glyphicon glyphicon-log-in hide visible-xs "></i> </a></li>
                                {% if not ( is_granted('ROLE_USER') or is_granted('ROLE_OCIUSER') )%} 
                            <li class="hidden-xs"><a href="/signup"> Neuer Kunde </a></li>
                                {% endif %}  
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.navbar-top-->

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                    class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span
                    class="icon-bar"> </span> <span class="icon-bar"> </span></button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-cart"><i
                    class="fa fa-shopping-cart colorWhite"> </i> <span
                    class="cartRespons colorWhite"> Korb ($210.00) </span></button>
            <a class="navbar-brand" href="/"> <img src="/images/logo.png" alt="Ute Orth"> </a>

            <!-- this part for mobile -->

        </div>
        <div style="width: 100%; height: 40px;"></div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/"> Home </a></li>
                <li class="dropdown megamenu-fullwidth"><a data-toggle="dropdown" class="dropdown-toggle" href="#"> Über uns <b class="caret"> </b> </a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content ">
                            <ul class="col-lg-3  col-sm-3 col-md-3 unstyled noMarginLeft newCollectionUl">
                                <li class="no-border">
                                    <p class="promo-1 promo-menu1"><strong> Was wir bieten </strong></p>
                                </li>
                                <li><a href="/arbeitsschutz"> Arbeitsschutz </a></li>
                                <li><a href="/berufsbekleidung"> Berufsbekleidung </a></li>
                                <li><a href="/werkzeugtechnik"> Werkzeugtechnik </a></li>
                                <li><a href="/c-teile-management"> C-Teile Management </a></li>
                            </ul>
                            <ul class="col-lg-3  col-sm-3 col-md-3 unstyled noMarginLeft newCollectionUl">
                                <li class="no-border">
                                    <p class="promo-1 promo-menu1"><strong> Wer wir sind </strong></p>
                                </li>
                                <li><a href="/unternehmen"> Unternehmen </a></li>
                                <li><a href="/team"> Team </a></li>
                                <li><a href="/kontakt"> Kontakt </a></li>
                                <li><a href="/jobs"> Jobs </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/shop"> Shop </a></li>
                <li class="dropdown megamenu-fullwidth"><a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    KATEGORIEN <b class="caret"> </b> </a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content">

                            <!-- megamenu-content -->

                            <h3 class="promo-1 no-margin hidden-xs"> Von Bekleidung bis Technik - hier findet man alles! </h3>

                            <h3 class="promo-1sub hidden-xs"> </h3>
                            <ul class="col-lg-2  col-sm-2 col-md-2 unstyled">
                                <li class="no-border">
                                    <p><strong> Arbeitsschutz</strong></p>
                                </li>
                                <li><a href="/shop/1435-atemschutz"> Atemschutz </a></li>
                                <li><a href="/shop/664-augenschutz"> Augenschutz </a></li>
                                <li><a href="/shop/465-brandschutz"> Brandschutz </a></li>
                                <li><a href="/shop/2468-erstehilfe"> Erste Hilfe </a></li>
                                <li><a href="/shop/659-gehoerschutz"> Gehörschutz </a></li>
                                <li><a href="/shop/679-handschutz"> Handschutz </a></li>
                                <li><a href="/shop/6225-hitzeschutz"> Hitzeschutz </a></li>
                                <li><a href="/shop/666-kopfschutz"> Kopfschutz </a></li>
                                <li><a href="/shop/701-psa-gegen-absturz"> PSA gegen Absturz </a></li>
                            </ul>
                            <ul class="col-lg-2  col-sm-2 col-md-2 unstyled">
                                <li class="no-border">
                                    <p><strong> Berufsbekleidung </strong></p>
                                </li>

                                <li><a href="/shop/6150-arbeitskleidung"> Arbeitskleidung </a></li>
                                <li><a href="/shop/6182-chemikalienschutz"> Chemikalienschutz </a></li>
                                <li><a href="/shop/6184-einwegbekleidung"> Einwegbekleidung </a></li>
                                <li><a href="/shop/6170-forstbekleidung"> Forstbekleidung </a></li>
                                <li><a href="/shop/1574-kaelteschutz"> Kälteschutz </a></li>
                                <li><a href="/shop/6173-schweisser-hitzeschutz"> Schweisser- und Hitzeschutz </a></li>
                                <li><a href="/shop/2431-warnschutz"> Warnschutz </a></li>
                                <li><a href="/shop/2425-wetterschutz-regenschutz"> Wetter-/Regenschutz </a></li>
                                <li><a href="/shop/6167-zunftbekleidung"> Zunftbekleidung</a></li>
                            </ul>
                            <ul class="col-lg-2  col-sm-2 col-md-2 unstyled">
                                <li class="no-border">
                                    <p><strong> Schuhe </strong></p>
                                </li>
                                <li><a href="/shop/1590-schuhe"> Schuhe </a></li>
                                <li><a href="/shop/1591-stiefel"> Stiefel</a></li>
                                <li><a href="/shop/6134-sandalen"> Sandalen</a></li>
                                <li><a href="/shop/1594-socken"> Socken</a></li>
                                <li><a href="/shop/6144-gummistiefel"> Gummistiefel</a></li>
                                <li><a href="/shop/6146-schuhzubehoer"> Schuhzubehör</a></li>
                            </ul>
                            <ul class="col-lg-2  col-sm-2 col-md-2 unstyled">
                                <li class="no-border">
                                    <p><strong> Technik </strong></p>
                                </li>
                                <li><a href="/shop/6088-bautechnik"> Bautechnik </a></li>
                                <li><a href="/shop/6089-befestigungstechnik"> Befestigungstechnik </a></li>
                                <li><a href="/shop/6090-beschlagsysteme-sicherheitstechnik"> Beschlagsysteme & Sicherheitstechnik </a></li>
                                <li><a href="/shop/354-elektrotechnik"> Elektrotechnik </a></li>
                                <li><a href="/shop/817-gartenbauu-landschaftsbau"> Garten- und Landschaftsbau </a></li>
                                <li><a href="/shop/3823-industrietechnik"> Industrietechnik </a></li>
                                <li><a href="/shop/3855-lagereinrichtung-betriebseinrichtung"> Lager- und Betriebseinrichtung </a></li>
                                <li><a href="/shop/127-maschinenelemente-befestigungsmittel"> Maschinenelemente, Befestigungsmittel </a></li>
                                <li><a href="/shop/61-schweisstechnik-schneidtechnik"> Schweiß- und Schneidtechnik</a></li>
                            </ul>
                            <ul class="col-lg-2  col-sm-2 col-md-2 unstyled">
                                <li class="no-border">
                                    <p><strong> Werkzeuge</strong></p>
                                </li>
                                <li><a href="/shop/6400-druckluftwerkzeuge"> Druckluftwerkzeuge</a></li>
                                <li><a href="/shop/6401-einsteckwerkzeuge"> Einsteckwerkzeuge</a></li>
                                <li><a href="/shop/6402-elektrowerkezuge"> Elektrowerkzeuge</a></li>
                                <li><a href="/shop/6405-handwerkzeuge"> Handwerkzeuge</a></li>
                                <li><a href="/shop/6406-kfz-werkzeuge"> KFZ-Werkzeuge</a></li>
                                <li><a href="/shop/6407-messwerkzeuge"> Messwerkzeuge</a></li>
                                <li><a href="/shop/6408-sanitaerwerkzeuge"> Sanitärwerkzeuge</a></li>
                                <li><a href="/shop/6296-schleiftechnik"> Schleiftechnik</a></li>
                                <li><a href="/shop/6403-schraubwerkzeuge"> Schraubwerkzeuge</a></li>
                                <li><a href="/shop/6410-werkzeugaufbewahrung"> Werkzeugaufbewahrung</a></li>
                                <li><a href="/shop/6411-werkzeugmaschinen"> Werkzeugmaschinen</a></li>
                                <li><a href="/shop/6404-zangen"> Zangen</a></li>
                                <li><a href="/shop/6227-zerspanung"> Zerspanung</a></li>
                            </ul>
                            <ul class="col-lg-2  col-sm-2 col-md-2 unstyled">
                                <li class="no-border">
                                    <p><strong> Hygiene & Reinigung </strong></p>
                                </li>
                                <li><a href="/shop/6214-abfallbeseitung"> Abfallbeseitung </a></li>
                                <li><a href="/shop/6211-reinigungsmittel"> Reinigungsmittel</a></li>
                                <li><a href="/shop/6209-waschraumausstattung"> Waschraumausstattung </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                

                {% if is_granted('ROLE_BCUSTOMER') %} 
                    <li><a href="/account/bestellsystem"> Bestellsystem </a></li>
                {% endif %}


            </ul>
            
            <!-- this part for mobile -->
            <div class="search-box static-search  w100 hidden-lg hidden-md hidden-sm navbar-formbox navbar-right">
                <div style="clear:both"></div>
                <form id="search-form" method="GET" action="/shop" role="search" class="navbar-form">
                    <div class="input-group">
                        <input type="text" style="padding:6px 6px;" name="q" placeholder="Suche..."
                               class="form-control">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <div class="input-group hide">
                    <button class="btn btn-nobg" type="button"><i class="fa fa-search"> </i></button>
                </div>
                <!-- /.input-group -->

            </div>
            
            <!--- this part will be hidden for mobile version -->
            <div class="nav navbar-nav navbar-right hidden-xs">
                <div class="dropdown  cartMenu static-search-box"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i
                        class="fa fa-shopping-cart"> </i> <span class="cartRespons"> Warenkorb</span> <b
                        class="caret"> </b> </a>
                        <!--- mini shopping cart for non-mobiles -->
                            {{ render(controller('OrthIndexBundle:Shop:miniCart', { 'max': 3 })) }}
                        <!-- /.mini shopping cart for non-mobiles -->
                </div>
                <!--/.cartMenu-->

                <div class="search-box static-search pull-right">

                    <form id="search-form" method="GET" action="/shop" role="search" class="navbar-form">
                        <div class="input-group">
                            <input type="text" style="padding:6px 6px;" name="q" placeholder="Suche..."
                                   class="form-control">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>


                    <!-- /input-group -->

                </div>
                <!--/.search-box -->
            </div>
            <!--/.navbar-nav hidden-xs-->
        </div>
        <!--/.nav-collapse -->

    </div>
    <!--/.container -->

    <div class="search-full text-right">
        <form id="search-form" method="GET" action="/shop" role="search" class="navbar-form">
            <div class="input-group">
                <input type="text" style="padding:6px 6px;" name="q" placeholder="Suche..."
                       class="form-control">

                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--/.search-full-->

</div>
                      
<!-- begin of inner content block -->                                
{% block content %}
<!-- /.Fixed navbar  -->

<div class="banner">
    <div class="full-container">
        <div class="slider-content">
            <ul id="pager" class="container">
            </ul>
            <div class="slider slider-v2">
                <div class="slider-item slider-item-img1 "
                     data-cycle-pager-template="<a href=#> LATEST COLLECTION </a>">
                    <div class="sliderInfo">
                        <div class="container">
                            <div class="col-lg-3 col-md-3 col-sm-5 sliderText dark alpha80 hidden-xs">
                                <div class="inner">
                                    <h1>LATEST COLLECTION</h1>

                                    <p class="hidden-xs"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                        sed diam nonummy nibh euismod tincidunt ut
                                        laoreet dolore magna aliquam erat volutpa </p>
                                    <a href="category.html" class="slide-link">SHOP NOW <span
                                            class="arrowUnicode">►</span></a></div>
                            </div>
                        </div>
                    </div>
                    <img alt="img" src="images/slider/slider3.jpg" class="img-responsive parallaximg sliderImg"></div>
                <!--/.slider-item-->

                <div class="slider-item slider-item-img2  parallax"
                     data-cycle-pager-template="<a href=#> WOMEN COLLECTION </a>">
                    <div class="sliderInfo">
                        <div class="container">
                            <div class="col-lg-3 col-md-3 col-sm-5 pull-left sliderText dark alpha80 hidden-xs">
                                <div class="inner">
                                    <h1>WOMEN COLLECTION</h1>

                                    <p class="hidden-xs"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                        sed diam nonummy nibh euismod tincidunt ut
                                        laoreet dolore magna aliquam erat volutpa </p>
                                    <a href="category.html" class="slide-link">SHOP NOW <span
                                            class="arrowUnicode">►</span></a></div>
                            </div>
                        </div>
                    </div>
                    <img alt="img" src="images/slider/arbeitsschutz.jpg" class="img-responsive parallaximg sliderImg"></div>
                <!--/.slider-item-->

                <div class="slider-item slider-item-img3  parallax"
                     data-cycle-pager-template="<a href=#> NEW COLLECTION </a>">
                    <div class="sliderInfo">
                        <div class="container">
                            <div class="col-lg-3 col-md-3 col-sm-5 sliderText dark alpha80 transformRight hidden-xs">
                                <div class="inner">
                                    <h1>NEW COLLECTION</h1>

                                    <p class="hidden-xs"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                        sed diam nonummy nibh euismod tincidunt ut
                                        laoreet dolore magna aliquam erat volutpa </p>
                                    <a href="category.html" class="slide-link">SHOP NOW <span
                                            class="arrowUnicode">►</span></a></div>
                            </div>
                        </div>
                    </div>
                    <img alt="img" src="images/slider/slider2.jpg" class="img-responsive parallaximg sliderImg"></div>
                <!--/.slider-item-->
                <div class="slider-item slider-item-img4  parallax"
                     data-cycle-pager-template="<a href=#> NEW COLLECTION </a>">
                    <div class="sliderInfo">
                        <div class="container">
                            <div class="col-lg-3 col-md-3 col-sm-5 sliderText dark alpha80 transformRight hidden-xs">
                                <div class="inner">
                                    <h1>NEW COLLECTION</h1>

                                    <p class="hidden-xs"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                        sed diam nonummy nibh euismod tincidunt ut
                                        laoreet dolore magna aliquam erat volutpa </p>
                                    <a href="category.html" class="slide-link">SHOP NOW <span
                                            class="arrowUnicode">►</span></a></div>
                            </div>
                        </div>
                    </div>
                    <img alt="img" src="images/slider/slider2.jpg" class="img-responsive parallaximg sliderImg"></div>
                <!--/.slider-item-->
            </div>
            <!--/.slider-v2-->
        </div>
        <!--/.slider-content-->
    </div>
    <!--/.full-container-->
</div>
<!--/.banner style2-->

<div class="container main-container">

    <!-- welcome -->

    <div class="row featuredPostContainer style2">
        <div class="gap"></div>
        <h3 class="section-title style2 text-center"><span>herzlich willkommen</span></h3>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-default btn-circle btn-xl center-block"><img style="height: 40px;"src="/images/home/icon_as.png" /></button>
                    <h4 class="text-center">Arbeitsschutz</h4>
                    <p class="text-justify">Bei uns erfahren Sie alles zum Thema “Persönliche Schutzausrüstung” und Arbeitsschutz. In unserem Angebotssortiment erhalten Sie Schutzbekleidung gegen unterschiedlichste Risiken,von der orangen Warnweste bis hin zur Multifunktions-Schutzkleidung der Klasse III.</p>
                </div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-default btn-circle btn-xl center-block"><img style="height: 40px;"src="/images/home/icon_ber.png" /></button>
                    <h4 class="text-center">Berufsbekleidung</h4>
                    <p class="text-justify">Wir bieten hochwertige und modische Berufsbekleidung für alle Branchen. Die Berufsbekleidung weist durch funktionelle Stoffe und verstärkte Nähte eine hohe Qualität auf. Dabei wird sie mit elastischen und atmungsaktiven Stoffen bequem zu tragen. </p>
                </div>
        <div class="gap"></div> 
                <div class="col-lg-6">
                    <button type="button" class="btn btn-default btn-circle btn-xl center-block"><img style="height: 40px;"src="/images/home/hammer-128.png" /></button>
                    <h4 class="text-center">Werkzeugtechnik</h4>
                    <p class="text-justify">Perfekte Werkzeuge für jede Aufgabe. Mit kompetenter Beratung. Mit individuellen Lösungen und mit jeder Menge Engagement. BasisOrth ist Ihr Partner für eine einzigartige Bandbreite an Produkten und Dienstleistungen. Unsere hohe Qualität gilt für ein breites und tiefes Angebot an Präzisionswerkzeugen und ebenso Werkzeugtechnik. Unser exzellenter und schneller Lieferservice bietet Ihnen höchste Flexibilität und Verfügbarkeit.</p>
                </div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-default btn-circle btn-xl center-block"><i class="fa fa-cogs service-icon"></i></button>
                    <h4 class="text-center">C-Teile-Management</h4>
                    <p class="text-justify">Unsere Basis ist eine kooperative partnerschaftliche Zusammenarbeit, die jetzt und zukünftig das Ziel verfolgt, alle stattfindenden Prozesskosten bei der Beschaffung von Materialien, die unter der Bezeichnung C – Teile definiert sind, zu reduzieren und zu optimieren. Eine erfolgreiche Full-Service-Lösung für Lagerung, Beschaffung und Lieferung von C-Teilen beinhaltet die Zusammenstellung verschiedener Vorgänge zu einem komplexen Prozess, der dem Kunden Zeit, Kosten und Mühen spart. </p>
                </div>
    </div>
    
    <!-- list of suppliers -->

    <div class="row featuredPostContainer globalPadding style2">
        <h3 class="section-title style2 text-center"><span>PREMIUM LIEFERANTEN</span></h3>
      
        <section class="logos-grid wf-container animation-builder grid-ready">
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell border-left-none">
                <div class="borders" style="height: 80px; line-height: 80px;">
                    <a title="" target="_blank" href="http://kuebler.eu">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Kübler" src="/images/suppliers/Kuebler_Logo1.png">
                    </a>
                </div>    
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="height: 80px; line-height: 80px;">
                    <a title="" target="_blank" href="http://atlasschuhe.de">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Atlas" src="/images/suppliers/atlas.png">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="height: 80px; line-height: 80px;">
                    <a title="" target="_blank" href="http://www.otter-schutz.de/">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Otter" src="/images/suppliers/otter.png">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="height: 80px; line-height: 80px;">
                    <a title="" target="_blank" href="http://www.honeywellsafety.com/de/brands/kcl.aspx">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="KCL" src="/images/suppliers/kcl.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="height: 80px; line-height: 80px;">
                    <a title="" target="_blank" href="http://www.hakro.com/">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Hakro" src="/images/suppliers/hakro.png">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="height: 80px; line-height: 80px;">
                    <a title="" target="_blank" href="http://www.hellyhansen.com/">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Helly Hansen" src="/images/suppliers/hh.png">
                    </a>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <h3 class="section-title style2 text-center"><span>WEITERE LIEFERANTEN</span></h3>
        
        <section class="logos-grid wf-container animation-builder grid-ready">
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell border-left-none">
                <div class="borders" style="height: 80px; line-height: 80px;">
                    <a title="" target="_blank" href="http://www.cginternational.de/blaetterkataloge-95.html">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="CG" src="http://ute-orth.de/wp-content/uploads/2014/01/cg.png">
                    </a>
                </div>    
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="height: 80px; line-height: 80px;">
                    <a title="" target="_blank" href="http://greiff.de/kollektion/corporate-wear/">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Greiff" src="http://ute-orth.de/wp-content/uploads/2014/01/greiff.png">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="height: 80px; line-height: 80px;">
                    <a title="" target="_blank" href="http://www.hiza.de/">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Hiza" src="http://ute-orth.de/wp-content/uploads/2014/01/hiza.png">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="height: 80px; line-height: 80px;">
                    <a title="" target="_blank" href="http://www.hummel.net/">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Hummel" src="http://ute-orth.de/wp-content/uploads/2014/01/hummel.png">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="height: 80px; line-height: 80px;">
                    <a title="" target="_blank" href="http://www.leiber.de/component/content/article/9-service/9-kataloge">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Leiber" src="http://ute-orth.de/wp-content/uploads/2014/01/leiber.png">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell" >
                <div class="borders" style="height: 80px; line-height: 80px;">
                    <a title="" target="_blank" href="http://www.olymp.com/de/home.html">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Olymp" src="http://ute-orth.de/wp-content/uploads/2014/01/olymp.png">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="height: 80px; line-height: 80px;">
                    <a title="" target="_blank" href="http://www.russelleurope.com/catalogue">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="russel" src="http://ute-orth.de/wp-content/uploads/2014/01/russel.png">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="height: 80px; line-height: 80px;">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="dräger" src="http://ute-orth.de/wp-content/uploads/2014/02/dräger.png">
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="height: 80px; line-height: 80px;">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="feldtmann" src="http://ute-orth.de/wp-content/uploads/2014/02/feldtmann.png">
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="height: 80px; line-height: 80px;">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Texxor" src="http://ute-orth.de/wp-content/uploads/2014/02/texxor.png">
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell border-left-none">
                <div class="borders" style="">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="3M" src="http://ute-orth.de/wp-content/uploads/2014/03/3M.png">
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Ansell" src="http://ute-orth.de/wp-content/uploads/2014/03/ansell.png">
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Greven" src="http://ute-orth.de/wp-content/uploads/2014/03/greven.png">
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Moldex" src="http://ute-orth.de/wp-content/uploads/2014/03/moldex.png">
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Peltor" src="http://ute-orth.de/wp-content/uploads/2014/03/peltor.png">
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell border-left-none">
                <div class="borders" style="">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Plum" src="http://ute-orth.de/wp-content/uploads/2014/03/plum.png">
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Schuberth" src="http://ute-orth.de/wp-content/uploads/2014/03/schuberth.png">
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Söhngen" src="http://ute-orth.de/wp-content/uploads/2014/03/söngen.png">
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Voss" src="http://ute-orth.de/wp-content/uploads/2014/03/voss.png">
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                <div class="borders" style="">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Seidensticker" src="http://ute-orth.de/wp-content/uploads/2015/09/seidensticker.png">
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell border-left-none border-bottom-none">
                <div class="borders" style="">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Eterna" src="http://ute-orth.de/wp-content/uploads/2015/09/eterna.png">
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell border-bottom-none">
                <div class="borders" style="">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Nordwest" src="http://ute-orth.de/wp-content/uploads/2015/09/nw3.png">
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell border-bottom-none">
                <div class="borders" style="">
                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Promat" src="http://ute-orth.de/wp-content/uploads/2015/09/promat1.png">
                </div>
            </div>  
        </section>
    </div>
    <!-- /.list of suppliers -->
</div>
<!-- /main container -->

<div class="parallax-section parallax-image-1">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="parallax-content clearfix">
                    <h2 class="uppercase">Lieferung Frei Haus ab einem Warenwert von 200 €*</h2>

                    <h3> *gültig nur für paketdienstfähige Bestellungen </h3>

                    <div style="clear:both"></div>
                    <a href="/shop" class="btn btn-discover "> <i class="fa fa-shopping-cart"></i> JETZT ZUM SHOP </a></div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</div>
<!--/.parallax-image-1-->

{% endblock %}
<!-- /. end of inner content block --> 

<!-- begin of footer --> 
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                    <h3> Support </h3>
                    <ul>
                        <li class="supportLi">
                            <p> Bei Fragen wenden Sie sich bitte an uns </p>
                            <h4><a class="inline" href="callto:+49415287870"> <strong> <i class="fa fa-phone"> </i> +49 4152
                                87 87 - 0</strong> </a></h4>
                            <h4><a class="inline" href="mailto:info@ute-orth.de"> <i class="fa fa-envelope-o"> </i>
                                info@ute-orth.de </a></h4>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Shop </h3>
                    <ul>
                        <li><a href="/"> Home </a></li>
                        <li><a href="/shop/2-arbeitsschutz"> Arbeitsschutz </a></li>
                        <li><a href="/shop/6149-berufsbekleidung"> Berufsbekleidung </a></li>
                        <li><a href="/shop/1-schuhe"> Schuhe</a></li>
                        <li><a href="/shop/3-technik"> Technik</a></li>
                        <li><a href="/shop/115-werkzeuge"> Werkzeuge</a></li>
                        <li><a href="/shop/6208-hygiene-reinigung"> Hygiene & Reinigung</a></li>
                    </ul>
                </div>

                <div style="clear:both" class="hide visible-xs"></div>

                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Information </h3>
                    <ul>
                        <li><a href="/impressum"> Impressum </a></li>
                        <li><a href="/widerruf"> Widerruf </a></li>
                        <li><a href="/agb"> AGB </a></li>
                        <li><a href="/datenschutz"> Datenschutz </a></li>
                        <li><a href="/glossar"> Glossar </a></li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Mein Konto </h3>
                    <ul>
                        <li><a href="/login"> Konto Login </a></li>
                        <li><a href="/account/my-account"> Mein Konto </a></li>
                        <li><a href="/account/my-address"> Meine Adressen </a></li>
                        <li><a href="/warenkorb"> Warenkorb </a></li>
                    </ul>
                </div>

                <div style="clear:both" class="hide visible-xs"></div>


            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> &copy; Ute Orth GmbH & Co KG 2016. All rights reserved. </p>

        </div>
    </div>
    <!--/.footer-bottom-->
</footer>
<!-- /.end of footer --> 

<!-- Le javascript
================================================== -->

<!-- Placed at the end of the document so the pages load faster -->
{% block js_bottom %}
<script type="text/javascript" src="/assets/js/jquery/jquery-1.10.1.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/idangerous.swiper-2.1.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        pagination: '.box-pagination',
        keyboardControl: true,
        paginationClickable: true,
        slidesPerView: 'auto',
        autoResize: true,
        resizeReInit: true,
    })

    $('.prevControl').on('click', function (e) {
        e.preventDefault()
        mySwiper.swipePrev()
    })
    $('.nextControl').on('click', function (e) {
        e.preventDefault()
        mySwiper.swipeNext()
    })
</script>

<!-- include jqueryCycle plugin -->
<script src="/assets/js/jquery.cycle2.min.js"></script>

<!-- include easing plugin -->
<script src="/assets/js/jquery.easing.1.3.js"></script>

<!-- include  parallax plugin -->
<script type="text/javascript" src="/assets/js/jquery.parallax-1.1.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="/assets/js/helper-plugins/jquery.mousewheel.min.js"></script>

<!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

<script type="text/javascript" src="/assets/js/jquery.mCustomScrollbar.js"></script>



<!-- include grid.js // for equal Div height  -->
<script src="/assets/js/grids.js"></script>

<!-- include carousel slider plugin  -->
<script src="/assets/js/owl.carousel.min.js"></script>

<!-- jQuery minimalect // custom select   -->
<script src="/assets/js/jquery.minimalect.min.js"></script>

<!-- include touchspin.js // touch friendly input spinner component   -->
<script src="/assets/js/bootstrap.touchspin.js"></script>

<!-- include custom script for only homepage  -->
<script src="/assets/js/home.js"></script>

<!-- include custom script for site  -->
<script src="/assets/js/script.js"></script>
{% endblock %}
{% block js_special %}
{% endblock %}
</body>
</html>
