{% extends "shopbase.html.twig" %}
{% block content %}

<div class="container main-container headerOffset">
    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <h1 class=" text-left border-title"> Allgemeine Informationen zum Augenschutz </h1>
                    
                    
                    <p><strong>Information</strong><br />
                    Hermsdorfer Straße 1<br />
                    21502 Geesthacht<br />
                    Telefon: 04152 / 87 87 -0<br />
                    Telefax: 04152 / 87 87 87<br /><br />
                    E-Mail : info@ute-orth.de<br />
                    USt.-ID-Nr.: DE 814833385<br />
                    eingetragen im Handelsregister des Amtsgerichtes Lübeck<br />
                    Handelsregisternummer: HRA 5194HL<br /><br />

                    vertreten durch die<br />
                    Orth Verwaltungsgesellschaft mbH<br />
                    Hermsdorfer Straße 1<br />
                    21502 Geesthacht<br />
                    diese vertreten durch die Geschäftsführer Stefan Orth und Bernd Orth<br />
                    eingetragen im Handelsregister des Amtsgerichtes Lübeck<br />
                    Handelsregisternummer HRB 7453 HL    
                    </p>
                    <hr>
                    <div class="w100 clearfix">
                        
                        <h3> Rechtliche Hinweise zur Webseite </h3>

                        <p> Alle Texte, Bilder und weiter hier veröffentlichten Informationen unterliegen dem Urheberrecht des Anbieters, 
                            soweit nicht Urheberrechte Dritter bestehen. In jedem Fall ist eine Vervielfältigung, Verbreitung oder öffentliche 
                            iedergabe ausschließlich im Falle einer widerruflichen und nicht übertragbaren Zustimmung des Anbieters gestattet. </p>

                        <p> Linksetzungen, welche auf die Inhalte der vorliegenden Website verweisen, bedürfen der Zustimmung des Anbieters. 
                            Eine solche Zustimmung ist bei jeder grundlegenden Veränderung des Inhaltes der Webseite, von welcher die Verlinkung erfolgt,
                            neu zu beantragen, sie kann jederzeit formlos widerrufen werden. Eine Verlinkung von Seiten mit  illegalen, anstößigen, 
                            irreführenden oder diffamierenden Inhalten ist in jedem Fall ausgeschlossen. </p>

                        <p> Die Inhalte der Webseite werden mit größter Sorgfalt erstellt. Dennoch kann keine Garantie für Aktualität und Vollständigkeit 
                            übernommen werden. </p>

                        <p> Für alle mittels Querverweis (Link) verbundene Webinhalte übernimmt der Anbieter keine Verantwortung, da es sich dabei um keine eigenen 
                            Inhalte handelt. Externe Links wurden auf rechtswidrige Inhalte überprüft, zum  Zeitpunkt der Verlinkung waren solche nicht erkennbar. 
                            Bezüglich fremder Inhalte besteht jedoch keine allgemeine Überwachungs- und Prüfungspflicht. Aufgeführte Warenzeichen und Markennamen sind 
                            Eigentum ihrer jeweiligen Inhaber. </p>

                    </div>
                </div>
            </div>
            <!--/row end-->

        </div>
    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>

<!-- /wrapper -->

<div class="gap"></div>

{% endblock %}