{% extends "shopbase.html.twig" %}
{% block content %}

<div class="container main-container headerOffset">
    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <h1 class=" text-left border-title"> Allgemeine Geschäftsbedingungen </h1>

                    <p><h2> Allgemeine Geschäftsbedingungen / Käuferinformationen</h2></p>

                    <hr>
                    <div class="w100 clearfix">
                        <h3> <strong>I.</strong> Grundlegende Bestimmungen (Stand  21.04.10) </h3>

                        <p> Der Vertrag kommt mit dem im Impressum angegebenen Anbieter (nachfolgend Verkäufer genannt) zustande. Die nachstehenden Vertragsbedingungen 
                            gelten für  alle geschlossenen Verträge zwischen dem Verkäufer und dem jeweiligen Käufer und werden mit der Bestellung ausdrücklich anerkannt.
                            Der Anbieter bietet auf seiner Webseite den Verkauf von Waren sowie Dienstleistungen über das Internet an.
                            Verbraucher im Sinne der nachstehenden Regelungen ist jede natürliche Person, die ein Rechtsgeschäft zu einem Zwecke abschließt, der weder 
                            ihrer gewerblichen noch selbständigen beruflichen Tätigkeit zugerechnet werden kann.  </p>
                        <hr>
                        <h3> <strong>II.</strong> Zustandekommen des Vertrages </h3>

                        <p> 1. Verkauf von Waren<br />
                            Die Warenangebote des Verkäufers im Internet stellen kein verbindliches Angebot zum Abschluss eines Kaufvertrages dar, sondern eine Aufforderung
                            zur Abgabe einer Bestellung (Kaufangebot des Käufers). <br />Sie können Ihr Kaufangebot telefonisch, schriftlich, per Fax, per Email oder über das im 
                            Online-Shop des Verkäufers integrierte Bestellformular abgeben. Mit dem Absenden der Bestellung über die entsprechende Schaltfläche geben Sie ein verbindliches 
                            Angebot beim Verkäufer ab. Sie erhalten zunächst eine automatische Email über den Eingang Ihrer Bestellung, die noch nicht zum Vertragsschluss führt.
                            Die Annahme Ihres Angebots (und damit der Vertragsabschluss) erfolgt in jedem Fall durch Bestätigung in Textform, in welcher Ihnen die Bearbeitung der Bestellung 
                            oder Auslieferung der Ware bestätigt wird oder durch Zusendung der Ware.<br />
                            Sollten Sie binnen 7 Werktagen keine Auftragsbestätigung oder Mitteilung über die Auslieferung bzw. keine Ware erhalten haben, sind Sie nicht mehr an Ihre Bestellung gebunden.
                            Gegebenenfalls bereits erbrachte Leistungen werden in diesem Fall unverzüglich zurückerstattet.<br /><br />
 
                            2. Dienstleistungen<br />
                            Die Einzelheiten ergeben sich aus der Beschreibung der jeweiligen Leistung auf der Internetseite. Auf Anfrage erstellt Ihnen der Verkäufer ein individuelles Angebot, das Ihnen in 
                            Textform  zugesandt wird und an das sich der Verkäufer 7 Tage gebunden hält. Sie nehmen das Angebot mit Bestätigung in Textform an.<br /><br />
 
                            3. Vertragssprache    <br />
                            Vertragssprache ist ausschließlich deutsch. Der Vertragstext (Bestelldaten und AGB) wird  beim Verkäufer gespeichert. Die Speicherung ist jedoch nur befristet bzw. für Sie nicht zugänglich, sorgen Sie deshalb bitte selbst für einen Ausdruck oder eine  gesonderte Speicherung.
                            <hr>
                        <h3> <strong>III.</strong> Preise, Versandkosten </h3>
                            Die in den jeweiligen Angeboten angeführten Preise stellen Endpreise dar. Sie beinhalten alle Preisbestandteile einschließlich etwaig anfallender Steuern.
                            Nur bei grenzüberschreitender Lieferung können im Einzelfall weitere Steuern (z.B. im Falle eines innergemeinschaftlichen Erwerbs) und/oder Abgaben (z.B. Zölle) von Ihnen zu 
                            zahlen sein, jedoch nicht an den Verkäufer, sondern an die dort zuständigen Zoll- bzw. Steuerbehörden.
                            Die anfallenden Versandkosten sind nicht im Kaufpreis enthalten, sie sind über die Seite „Zahlungs- und Versandbedingungen“ aufrufbar, werden im Laufe des Bestellvorganges 
                            gesondert ausgewiesen und sind von Ihnen zusätzlich zu tragen. </p>
                        <hr>
                        <h3> <strong>IV.</strong> Zahlungs- und Versandbedingungen </h3>

                        <p> Die Zahlungs- und Versandbedingungen finden Sie unter der gleichnamigen Schaltfläche in der Navigation. Als Verbraucher werden Sie gebeten, die Ware bei Lieferung umgehend auf 
                            Vollständigkeit, offensichtliche Mängel und Transportschäden zu überprüfen und Beanstandungen dem Verkäufer und dem Spediteur schnellstmöglich mitzuteilen. Ihre 
                            Gewährleistungsansprüche bleiben hiervon unberührt. Soweit Sie Verbraucher sind,  geht die Gefahr des zufälligen Untergangs und der zufälligen Verschlechterung der verkauften 
                            Sache während der Versendung erst mit der Übergabe der Ware an Sie über, unabhängig davon, ob die Versendung versichert oder unversichert erfolgt. Sind Sie kein Verbraucher, erfolgt die Lieferung und Versendung auf Ihre Gefahr.
                            Es wird vereinbart, dass im Falle der Ausübung des für Verbraucher geltenden Widerrufsrechtes bei Fernabsatzverträgen der Verbraucher die Kosten der Rücksendung gem. § 357 Abs. 2 BGB zu tragen hat, wenn die gelieferte Ware der bestellten entspricht und wenn 
                            der Preis der zurückzusendenden Sache einen Betrag von 40 Euro nicht übersteigt oder wenn der Verbraucher  bei einem höheren Preis der Sache zum Zeitpunkt des Widerrufs noch nicht die Gegenleistung oder eine vertraglich vereinbarte Teilzahlung erbracht hat. </p>
                        <hr>
                        <h3> <strong>V.</strong> Gewährleistung </h3>

                        <p> 1. Es gelten die gesetzlichen Vorschriften. </p>

                        <p> 2. Bei gebrauchten Sachen beträgt die Gewährleistungsfrist abweichend von der gesetzlichen Regelung ein Jahr ab Ablieferung der Ware. Die einjährige Gewährleistungsfrist gilt nicht für dem Verkäufer zurechenbare schuldhaft verursachte Schäden aus der  Verletzung des Lebens, des Körpers oder der Gesundheit und grob fahrlässig oder vorsätzlich verursachte Schäden bzw. Arglist des Verkäufers, sowie bei Rückgriffsansprüchen gemäß §§ 478, 479 BGB. </p>
                        
                        <p> 3. Soweit Sie Unternehmer sind, gilt abweichend von Ziff. 1:<br />
                            a) Als Beschaffenheit der Ware gelten nur die eigenen Angaben des Verkäufers und die Produktbeschreibung des Herstellers als vereinbart, nicht jedoch sonstige Werbung, öffentliche Anpreisungen und Äußerungen des Herstellers.
                                <br />
                            b) Sie sind verpflichtet, die Ware unverzüglich und mit der gebotenen Sorgfalt auf  Qualitäts- und  Mengenabweichungen  zu untersuchen und offensichtliche Mängel binnen 7 Tagen ab Empfang der Ware dem Verkäufer schriftlich anzuzeigen, zur Fristwahrung reicht die rechtzeitige Absendung. Dies gilt auch für später festgestellte verdeckte Mängel ab Entdeckung.
                                Bei Verletzung der Untersuchungs- und Rügepflicht ist die Geltendmachung  der Gewährleistungsansprüche ausgeschlossen.
                                 <br />
                            c) Bei Mängeln leistet der Verkäufer nach seiner Wahl Gewähr durch Nachbesserung oder Ersatzlieferung.
                                Schlägt die Mangelbeseitigung zweimal fehl, können Sie nach Ihrer Wahl Minderung verlangen oder vom Vertrag zurücktreten. Im Falle der Nachbesserung muss der Verkäufer nicht die erhöhten Kosten tragen, die durch die Verbringung der Ware an  einen anderen Ort als den Erfüllungsort entstehen, sofern die Verbringung nicht dem bestimmungsgemäßen Gebrauch der Ware entspricht.
                                <br />
                            d) Die Gewährleistungsfrist beträgt ein Jahr ab Ablieferung der Ware. Ziffer 2 Satz 2 gilt entsprechend. </p>


                        <hr>
                        <h3> <strong>VI.</strong> Eigentumsvorbehalt </h3>

                        <p> 1. Die Ware bleibt bis zur vollständigen Zahlung des Kaufpreises Eigentum des Verkäufers.<br />
                            2. Sind Sie Unternehmer, gilt ergänzend folgendes:<br />
                            a)Der Verkäufer behält sich das Eigentum an der Ware bis zum vollständigen Ausgleich aller Forderungen aus der laufenden Geschäftsbeziehung vor. Vor Übergang des Eigentums an der Vorbehaltsware ist eine Verpfändung oder Sicherheitsübereignung  nicht zulässig.
                            <br />
                            b) Sie können die Ware im ordentlichen Geschäftsgang weiterverkaufen. Für diesen Fall treten Sie bereits jetzt alle Forderungen in Höhe des Rechnungsbetrages, die Ihnen aus dem Weiterverkauf erwachsen, an den die Abtretung annehmenden Verkäufer ab.
                                Sie sind weiter zur Einziehung der Forderung ermächtigt. Soweit Sie Ihren Zahlungsverpflichtungen nicht ordnungsgemäß nachkommen,  behält sich der Verkäufer allerdings vor, die Forderung selbst einzuziehen.
                            <br />
                            c) Bei Verbindung und Vermischung der Vorbehaltsware erwirbt der Verkäufer Miteigentum an der neuen Sache im Verhältnis des Rechnungswertes der Vorbehaltsware zu den anderen verarbeiteten Gegenständen zum Zeitpunkt der Verarbeitung.
                            <br />
                            d) Der Verkäufer verpflichtet sich, die ihm zustehenden Sicherheiten auf Ihr Verlangen insoweit freizugeben, als der realisierbare Wert der Sicherheiten des Verkäufers die zu sichernde Forderung um mehr als 10% übersteigt. Die Auswahl der freizugebenden Sicherheiten obliegt dem Verkäufer. </p>
                        <hr>
                        <h3> <strong>VII.</strong> Haftungsbeschränkung </h3>

                        <p>Die Haftung des Verkäufers für leicht fahrlässige Pflichtverletzungen ist ausgeschlossen, sofern keine wesentliche Vertragspflichten (Pflichten, deren Erfüllung die ordnungsgemäße Durchführung des Vertrages erst ermöglicht, deren Verletzung die Erreichung des Vertragszwecks gefährdet und auf deren Einhaltung Sie als Kunde regelmäßig vertrauen), Schäden aus der Verletzung des Lebens, des Körpers oder der Gesundheit, Garantien für die Beschaffenheit des Kaufgegenstandes oder auch Ansprüche  nach dem Produkthaftungsgesetz betroffen sind. Das gilt auch für entsprechende Pflichtverletzungen der Erfüllungsgehilfen des Verkäufers.
                            Dabei ist die Haftung auf den Schaden begrenzt, mit dem vertragstypisch gerechnet werden muss.
                            Für Vorsatz und grobe Fahrlässigkeit gilt die Haftungsbeschränkung nicht.</p>
                        <hr>
                        <h3> <strong>VIII.</strong> Erfüllungsort, Gerichtsstand </h3>

                        <p>Es gilt deutsches Recht unter Ausschluss UN-Kaufrechts. Erfüllungsort für alle Leistungen aus den mit dem Verkäufer bestehenden Geschäftsbeziehungen sowie Gerichtsstand  ist Sitz des Verkäufers, soweit Sie nicht Verbraucher, sondern Kaufmann, juristische Person des öffentlichen Rechts oder öffentlich-rechtliches Sondervermögen ist.</p>
                        <hr>
                        <h3> <strong>IX.</strong> Hinweise zur Batterieentsorgung </h3>

                        <p>Im Zusammenhang mit dem Vertrieb von Batterien oder mit der Lieferung von Geräten, die Batterien enthalten, ist der Verkäufer verpflichtet, Sie auf folgendes hinzuweisen:
                            Sie sind zur Rückgabe gebrauchter Batterien als Endnutzer gesetzlich verpflichtet. Sie können Altbatterien, die der Verkäufer als Neubatterien im Sortiment führt oder geführt hat, unentgeltlich am Versandlager (Versandadresse) des Verkäufers zurückgeben. Die auf den Batterien abgebildeten Symbole haben folgende Bedeutung:
                            Die auf den Batterien abgebildeten Symbole haben folgende Bedeutung:
                            Das Symbol der durchgekreuzten Mülltonne bedeutet, dass die Batterie nicht in den Hausmüll gegeben werden
                            darf.<br /><br />
                            Pb = Batterie enthält mehr als 0,004 Masseprozent Blei <br />
                            Cd = Batterie enthält mehr als 0,002 Masseprozent Cadmium<br />
                            Hg = Batterie enthält mehr als 0,0005 Masseprozent Quecksilber<br /><br />
                            <strong>Wichtiger Hinweis  --- Artikelbilder/ -grafiken</strong><br />
                            Bei einigen Artikelgrafiken bzw.-abbildungen sind teilweise Gegenstände zur Dekoration dargestellt, welche nicht zum  Verkaufsangebot gehören.
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
            <!--/row end-->

        </div>
    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>

<!-- /wrapper -->

<div class="gap"></div>

{% endblock %}