{% extends "shopbase.html.twig" %}
{% block content %}

<div class="parallax-section parallax-fx parallax-image-arbeitsschutz parallaxOffset no-padding">
    <div class="w100 ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="parallax-content clearfix animated ">
                        <h1 class="x2large">
                            Arbeitsschutz
                        </h1>
                        <h5 class="parallaxSubtitle">
                            Wir rüsten sie aus
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.parallax -->

<div class="container main-container ">

    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">


                    <p class="lead text-center">
                        Bei uns erfahren Sie alles zum Thema “Persönliche Schutzausrüstung” und Arbeitsschutz.

                        In unserem Angebotssortiment erhalten Sie Schutzbekleidung gegen unterschiedlichste Risiken,von der orangen Warnweste bis hin zur Multifunktions-Schutzkleidung der Klasse III.
                        Sie haben Fragen zu unseren Arbeitsschutzartikeln? Wir helfen Ihnen gerne weiter!
                        Falls Sie sich jetzt informieren möchten, rufen Sie doch gerne an oder schreiben uns eine E-Mail. 
                    </p>
                    <h2>Unsere Bereiche</h2>
                  <div class="col-lg-12 col-sm-12 col-md-12">

                    <ul class="col-lg-3 col-sm-3 col-md-3 unstyled">
                        <h4><a href="/shop/atemschutz"><li>Atemschutz</li></a></h4>
                        <h4><a href="/shop/augenschutz"><li>Augenschutz</li></a></h4>
                        <h4><a href="/shop/brandschutz"><li>Brandschutz</li></a></h4>
                    </ul>
                    <ul class="col-lg-3 col-sm-3 col-md-3 unstyled">
                        <h4><a href="/shop/erstehilfe"><li>Erste Hilfe</li></a></h4>
                        <h4><a href="/shop/gebotszeichen"><li>Gebotszeichen</li></a></h4>
                        <h4><a href="/shop/gehörschutz"><li>Gehörschutz</li></a></h4>
                    </ul>
                    <ul class="col-lg-3 col-sm-3 col-md-3 unstyled">    
                        <h4><a href="/shop/handschutz"><li>Handschutz</li></a></h4>
                        <h4><a href="/shop/hautschutz-hautpflege"><li>Hautschutz & -pflege</li></a></h4>
                        <h4><a href="/shop/hitzeschutz"><li>Hitzeschutz</li></a></h4>
                    </ul>
                    <ul class="col-lg-3 col-sm-3 col-md-3 unstyled">    
                        <h4><a href="/shop/kopfschutz"><li>Kopfschutz</li></a></h4>
                        <h4><a href="/shop/psa-gegen-bsturz"><li>PSA gegen Absturz</li></a></h4>   
                        <h4><a href="/shop/sonstiger-arbeitsschutz"><li>Sonstiger Arbeitsschutz</li></a></h4>
                    </ul>
                  </div>
                    <div class="gap"></div>
                    <hr class="hr hr30">
                    <div class="gap"></div>
                    <div class="row animated">
                     
                        <h3 class="section-title style2 text-center"><span>UNSERE LIEFERANTEN</span></h3>
        
                        <section class="logos-grid wf-container animation-builder grid-ready">
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell border-left-none">
                                <div class="borders" style="height: 80px; line-height: 80px;">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="dräger" src="http://ute-orth.de/wp-content/uploads/2014/02/dräger.png">
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Voss" src="http://ute-orth.de/wp-content/uploads/2014/03/voss.png">
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Söhngen" src="http://ute-orth.de/wp-content/uploads/2014/03/söngen.png">
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Plum" src="http://ute-orth.de/wp-content/uploads/2014/03/plum.png">
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Schuberth" src="http://ute-orth.de/wp-content/uploads/2014/03/schuberth.png">
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Peltor" src="http://ute-orth.de/wp-content/uploads/2014/03/peltor.png">
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell border-left-none">
                                <div class="borders" style="">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Moldex" src="http://ute-orth.de/wp-content/uploads/2014/03/moldex.png">
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Greven" src="http://ute-orth.de/wp-content/uploads/2014/03/greven.png">
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Ansell" src="http://ute-orth.de/wp-content/uploads/2014/03/ansell.png">
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="3M" src="http://ute-orth.de/wp-content/uploads/2014/03/3M.png">
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="height: 80px; line-height: 80px;">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Texxor" src="http://ute-orth.de/wp-content/uploads/2014/02/texxor.png">
                                </div>
                            </div> 
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="height: 80px; line-height: 80px;">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="feldtmann" src="http://ute-orth.de/wp-content/uploads/2014/02/feldtmann.png">
                                </div>
                            </div>
                        </section>

                    </div>
                    <!--/.row-->

                </div>
            </div>
            <!--/row end-->
        </div>
    </div>
    <!--/.innerPage-->
    <div style="clear:both"></div>
</div>
<!-- /.main-container -->


<div class="gap"></div>


{% endblock %}