{% extends "shopbase.html.twig" %}
{% block content %}

<div class="parallax-section parallax-fx parallax-image-berufsbekleidung parallaxOffset no-padding">
    <div class="w100 ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="parallax-content clearfix animated ">
                        <h1 class="x2large">
                            Berufsbekleidung
                        </h1>
                        <h5 class="parallaxSubtitle">
                            Wir statten Sie aus
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.parallax -->

<div class="container main-container ">

    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">

                    <p class="lead text-center">
                        Wir bieten hochwertige und modische Berufsbekleidung für alle Branchen.

                        Die Berufsbekleidung weist durch funktionelle Stoffe und verstärkte Nähte eine hohe Qualität auf. Dabei wird sie mit elastischen und atmungsaktiven Stoffen bequem zu tragen. UTE ORTH bietet Ihnen diese Berufsbekleidung nach Euronormen und Zulassungen.

                        Wir haben eine riesige Auswahl an Lagerware für Ihren Bereich. Gerne auch als Sonderanfertigung mit schneller Lieferzeit.

                        Wir freuen uns über Ihre Kontaktaufnahme. 
                    </p>
                    <h2>Unsere Bereiche</h2>
                  <div class="col-lg-12 col-sm-12 col-md-12">

                    <ul class="col-lg-3 col-sm-3 col-md-3 unstyled">
                        <h4><a href="/shop/arbeitskleidung"><li>Arbeitskleidung</li></a></h4>
                        <h4><a href="/shop/chemikalienschutz"><li>Chemikalienschutz</li></a></h4>
                        <h4><a href="/shop/einwegbekleidung"><li>Einwegbekleidung</li></a></h4>
                    </ul>
                    <ul class="col-lg-3 col-sm-3 col-md-3 unstyled">
                        <h4><a href="/shop/forstbekleidung"><li>Forstbekleidung</li></a></h4>
                        <h4><a href="/shop/kaelteschutz"><li>Kälteschutz</li></a></h4>
                        <h4><a href="/shop/schweisser-hitzeschutz"><li>Schweisser- und Hitzeschutz</li></a></h4>
                    </ul>
                    <ul class="col-lg-3 col-sm-3 col-md-3 unstyled">    
                        <h4><a href="/shop/warnschutz"><li>Warnschutz</li></a></h4>
                        <h4><a href="/shop/wetter-regenschutz"><li>Wetter-/ Regenschutz</li></a></h4>
                        <h4><a href="/shop/hitzeschutz"><li>Zunftbekleidung</li></a></h4>
                    </ul>
                    <ul class="col-lg-3 col-sm-3 col-md-3 unstyled"> 
                        <h4><a href="/shop/gastronomie"><li>Gastronomie</li></a></h4>
                        <h4><a href="/shop/corporate"><li>Corporate Wear</li></a></h4>
                    </ul>
                  </div>
                    <div class="gap"></div>
                    <hr class="hr hr30">
                    <div class="gap"></div>
                    <div class="row animated">
                     
                        <h3 class="section-title style2 text-center"><span>UNSERE LIEFERANTEN</span></h3>
        
                        <section class="logos-grid wf-container animation-builder grid-ready">
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell border-left-none">
                                <div class="borders" style="height: 80px; line-height: 80px;">
                                    <a title="" target="_blank" href="http://kuebler.eu">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Kübler" src="images/suppliers/Kuebler_Logo1.png">
                                    </a>
                                </div>    
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="height: 80px; line-height: 80px;">
                                    <a title="" target="_blank" href="http://www.hakro.com/">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Hummel" src="images/suppliers/hakro.png">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="height: 80px; line-height: 80px;">
                                    <a title="" target="_blank" href="http://www.jobman.se/">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Hummel" src="images/suppliers/jobman.png">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Eterna" src="http://ute-orth.de/wp-content/uploads/2015/09/eterna.png">
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Seidensticker" src="http://ute-orth.de/wp-content/uploads/2015/09/seidensticker.png">
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="height: 80px; line-height: 80px;">
                                    <a title="" target="_blank" href="http://www.olymp.com/de/home.html">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Olymp" src="http://ute-orth.de/wp-content/uploads/2014/01/olymp.png">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="height: 80px; line-height: 80px;">
                                    <a title="" target="_blank" href="http://www.leiber.de/component/content/article/9-service/9-kataloge">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Leiber" src="http://ute-orth.de/wp-content/uploads/2014/01/leiber.png">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="height: 80px; line-height: 80px;">
                                    <a title="" target="_blank" href="http://www.hiza.de/">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Hiza" src="images/suppliers/hiza.png">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="height: 80px; line-height: 80px;">
                                    <a title="" target="_blank" href="http://greiff.de/kollektion/corporate-wear/">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Greiff" src="http://ute-orth.de/wp-content/uploads/2014/01/greiff.png">
                                    </a>
                                </div>
                            </div>
                        </section>

                    </div>
                    <!--/.row-->

                </div>
            </div>
            <!--/row end-->
        </div>
    </div>
    <!--/.innerPage-->
    <div style="clear:both"></div>
</div>
<!-- /.main-container -->


<div class="gap"></div>


{% endblock %}