{% extends "shopbase.html.twig" %}
{% block title %} BASISORTH GmbH | Berufsbekleidung{% endblock %}
{% block content %}

<div class="parallax-section parallax-fx parallax-image-berufsbekleidung parallaxOffset no-padding">
    <div class="w100 ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="parallax-content clearfix animated ">
                        <h1 class="x2large">
                            Berufsbekleidung
                        </h1>
                        <h5 class="parallaxSubtitle">
                            WIR STATTEN SIE AUS
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.parallax -->

<div class="container main-container ">

    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12 text-center">

                    <p class="lead text-center">
                        Wir bieten hochwertige und modische Berufsbekleidung für alle Branchen.
                        </p>
                        <p>
                        Von <strong>Corporate Wear mit eigener CI</strong> über <strong>Businesswear</strong> bis hin zur <strong>Berufsbekleidung für Industrie, Logistik, Handwerk</strong> und <strong>Dienstleistern</strong>. 
                        </p>
                        <p>
                        Die <strong>Berufsbekleidung</strong> weist durch <strong>funktionelle, atmungsaktive Stoffe</strong> und <strong>verstärkten Nähten</strong> eine sehr hohe Qualität, Funktionalität und Beständigkeit auf. 
                                    <br /><strong>Wir bieten Ihnen die Berufsbekleidung nach allen Euronormen und Zulassungen an.</strong>

                        </p>
                        <p>
                        Wir haben eine riesige Auswahl an Lagerware für Ihren Bereich. Gerne auch als Sonderanfertigung mit 
                        schneller Lieferzeit.
                        </p>
                    <h2>Unsere Bereiche</h2>
                  <div class="col-lg-12 col-sm-12 col-md-12">

                    <ul class="col-lg-3 col-sm-3 col-md-3 unstyled">
                        <h4><a href="#"><li>Arbeitskleidung</li></a></h4>
                        <h4><a href="#"><li>Chemikalienschutz</li></a></h4>
                        <h4><a href="#"><li>Einwegbekleidung</li></a></h4>
                    </ul>
                    <ul class="col-lg-3 col-sm-3 col-md-3 unstyled">
                        <h4><a href="#"><li>Forstbekleidung</li></a></h4>
                        <h4><a href="#"><li>Kälteschutz</li></a></h4>
                        <h4><a href="#"><li>Schweisser- und Hitzeschutz</li></a></h4>
                    </ul>
                    <ul class="col-lg-3 col-sm-3 col-md-3 unstyled">    
                        <h4><a href="#"><li>Warnschutz</li></a></h4>
                        <h4><a href="#"><li>Wetter-/ Regenschutz</li></a></h4>
                        <h4><a href="#"><li>Zunftbekleidung</li></a></h4>
                    </ul>
                    <ul class="col-lg-3 col-sm-3 col-md-3 unstyled"> 
                        <h4><a href="#"><li>Gastronomie</li></a></h4>
                        <h4><a href="#"><li>Business Wear</li></a></h4>
                    </ul>
                  </div>
                    <div class="gap"></div>
                    <hr class="hr hr30">
                    <div class="gap"></div>
                    <div class="row animated">
                     
                        <h3 class="section-title style2 text-center"><span>UNSERE PREMIUM-PARTNER</span></h3>
        
                        <section class="logos-grid wf-container animation-builder grid-ready">
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell border-left-none">
                                <div class="borders" style="height: 80px; line-height: 80px;">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80"  title="Kübler" alt="Kübler" src="/images/suppliers/Kuebler_Logo1.png">
                                </div>    
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="height: 80px; line-height: 80px;">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" title="BP" alt="BP" src="/images/suppliers/bp.jpg">
                                </div>    
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="height: 80px; line-height: 80px;">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" title="Dassy" alt="dassy" src="/images/suppliers/dassy.jpg">
                                </div>    
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="height: 80px; line-height: 80px;">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" title="Schöffel" alt="schoeffel" src="/images/suppliers/schoeffel.jpg">
                                </div>    
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="height: 80px; line-height: 80px;">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" title="Hakro" alt="hakro" src="/images/suppliers/hakro.png">
                                </div>    
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" title="Seidensticker" alt="Seidensticker" src="/images/suppliers/seidensticker.png">
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell border-left-none">
                                <div class="borders" style="height: 80px; line-height: 80px;">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" title="Olymp" alt="Olymp" src="/images/suppliers/olymp.png">
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="height: 80px; line-height: 80px;">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" title="Greiff" alt="Greiff" src="/images/suppliers/greiff.png">
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="height: 80px; line-height: 80px;">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" title="Helly Hansen" alt="Helly Hansen" src="/images/suppliers/hellyhansen.jpg">
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="height: 80px; line-height: 80px;">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" title="B&C" alt="bandc" src="/images/suppliers/bc.jpg">
                                </div>
                            </div>
                        </section>

                    </div>
                    <!--/.row-->

                </div>
            </div>
            <!--/row end-->
        </div>
    </div>
    <!--/.innerPage-->
    <div style="clear:both"></div>
</div>
<!-- /.main-container -->


<div class="gap"></div>


{% endblock %}