{% extends "shopbase.html.twig" %}
{% block title %} BASISORTH GmbH | C-Teile-Management{% endblock %}
{% block content %}

<div class="parallax-section parallax-fx parallax-image-werkzeugtechnik parallaxOffset no-padding">
    <div class="w100 ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="parallax-content clearfix animated ">
                        <h1 class="x2large">
                            C-Teile-Management
                        </h1>
                        <h5 class="parallaxSubtitle">
                            IHR PARTNER IM C-TEILE MANAGEMENT
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.parallax -->
<div class="main-container">
    <div class="section container">

            <div class="row innerPage margin-bottom65">
                <div class="col-lg-12">
                    <div class="gap"></div>
                    <h3 class="section-title style2 text-center"><span>Wie es funktioniert</span></h3>
                    <div class="gap"></div>
                </div>
                <div class="col-lg-12">
                    <h3>Hohe Kosten durch Beschaffung</h3>
                </div>
                <div class="col-lg-6 lead">
                    <p>
                        C-Teile stellen einen großen Anteil am Gesamtbeschaffungsvolumen eines jeden Unternehmens dar und verursachen daher hohe Betriebskosten. 
                    </p>
                    <!--/.row-->
                </div>
                <div class="col-lg-offset-2 col-lg-4 hidden-xs hidden-sm hidden-md text-center">
                    <i class="fa fa-euro fa-5x"></i>
                </div>
            </div>

    </div>
    <div class="section-bereiche">
        <div class="container lead lighttext">
            <div class="gap"></div>
            <div class="row innerPage margin-bottom65">
                <div class="col-lg-12 col-xs-12 ">
                    <h3 class="pull-right">Alleingänge kosten Geld</h3>
                </div>
                <div class="col-lg-4 hidden-xs hidden-sm hidden-md text-center">
                    <i class="fa fa-refresh fa-5x"></i>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-6 col-xs-12 text-right">
                    <p> Werden Werkzeuge, Elektromaterial, Berufsbekleidung oder Hygieneartikel auf herkömmlichem Wege in Einzelbestellungen bezogen, entsteht schnell ein Ungleichgewicht zwischen Verwaltungs- bzw. Prozesskosten zum eigentlichen Wert des Artikels.</p>
                </div>            
            </div>
            <!--/row end-->
        </div>
    </div>
    <div class="section container">

            <div class="row innerPage margin-bottom65">
                <div class="col-lg-12">
                    <h3>Die Balance finden</h3>
                </div>
                <div class="col-lg-4 lead">
                    <p>
                        Um die Balance zwischen Warenwert und Anschaffungsaufwand wieder herzustellen, kommt ein erfolgreiches C-Teile-Management zum Tragen.
                    </p>
                    <!--/.row-->
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-offset-2 col-lg-4 hidden-xs hidden-sm hidden-md text-center">
                    <i class="fa fa-balance-scale fa-5x"></i>
                </div>
            </div>

    </div>
<div class="section-bereiche">
        <div class="container lead lighttext">
            <div class="gap"></div>
            <div class="row innerPage margin-bottom65">
                <div class="col-lg-12 col-xs-12 ">
                    <h3 class="pull-right">Wir machen das für Sie!</h3>
                </div>
                <div class="col-lg-4 hidden-xs hidden-sm hidden-md text-center">
                    <i class="fa fa-thumbs-up fa-5x"></i>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4 col-xs-12 text-right">
                    <p> Wir sind Ihr Partner für Kostenreduzierung und Abwicklung der Warenbestellung. 100% auf Ihre persönlichen Bedürfnisse abgestimmt!</p>
                </div>            
            </div>
            <div class="gap"></div>
            <!--/row end-->
        </div>
    </div>
</div>
<!-- /.main-container -->

{% endblock %}