{% extends "shopbase.html.twig" %}
{% block content %}

<div class="container main-container headerOffset">
    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <h1 class=" text-left border-title"> Datenschutz </h1>

                    <p><h2> Datenschutzerklärung </h2></p>

                    <hr>
                    <div class="w100 clearfix">
                        <p> Wir informieren darüber,  dass die im Rahmen der Geschäftsabwicklung  von Ihnen übermittelten  Daten mit Hilfe einer EDV-Anlage verarbeitet und gespeichert werden. Persönliche Daten werden selbstverständlich vertraulich behandelt.   </p>
                        <hr>
                        <h3> Erhebung / Beschaffung von personenbezogenen Daten  </h3>

                        <p> 1. Verkauf von Waren<br />
                            Personenbezogene Daten (Einzelangaben über persönliche oder sachliche Verhältnisse einer bestimmten oder bestimmbaren natürlichen Person) erheben wir nur, soweit wir diese für die Bearbeitung von Vertragsabwicklungen und für die Erbringung vertraglicher Leistungen benötigen. Die Erhebung der Daten erfolgt ausschließlich in dem von Ihnen zur Verfügung gestellten Umfang. Verarbeitung personenbezogener Daten</p>
                        <p> Die Verarbeitung Ihrer personenbezogenen Daten umfasst das Speichern, Verändern, Übermitteln, Sperren und Löschen dieser Daten. </p>
                        <p> Wir geben Ihre personenbezogenen Daten nicht an Dritte weiter. Ausgenommen hiervon sind lediglich unsere Dienstleistungspartner, die wir zur Abwicklung des Vertragsverhältnisses benötigen. In diesen Fällen beachten wir strikt die Vorgaben des Bundesdatenschutzgesetzes. Der Umfang der Datenübermittlung beschränkt sich auf ein Mindestmaß. </p>
                        <p> Sie stimmen der Verarbeitung Ihrer personenbezogenen Daten zu. Das Recht die Einwilligung mit Wirkung für die Zukunft zu widerrufen steht Ihnen uneingeschränkt zu. Die Kontaktdaten für die Ausübung des Widerrufs finden Sie in unserem Impressum. </p>
                        <hr>
                        <h3> Nutzung personenbezogener Daten </h3>
                             Wir informieren darüber, dass die weitergehende Nutzung Ihrer persönlichen Daten zu Zwecken der Marktforschung und Zusendung von Werbung oder Newslettern nur mit Ihrer gesondert einzuholenden ausdrücklichen Zustimmung erfolgt. Das Recht, die Einwilligung mit Wirkung für die Zukunft zu widerrufen steht Ihnen uneingeschränkt zu. Die Kontaktdaten für die Ausübung des Widerrufs finden Sie in unserem Impressum. </p>
                        <hr>
                        <h3> Auskunft, Berichtigung, Sperrung und Löschung von Daten </h3>

                        <p> Sie haben jederzeit ein Recht auf Auskunft, Berichtigung, Löschung bzw. Sperrung Ihrer gespeicherten Daten. Kontaktieren Sie uns auf Wunsch. Die Kontaktdaten finden Sie in unserem Impressum. </p>
                        <hr>
                        <h3> Cookies </h3>

                        <p>Unsere Internetseiten verwenden an mehreren Stellen so genannte Cookies. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert. Sie dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. Des Weiteren ermöglichen Cookies unseren Systemen, Ihren Browser zu erkennen und Ihnen Services anzubieten.
                        Cookies enthalten keine personenbezogenen Daten.</p>
                        <hr>
                    </div>
                </div>
            </div>
            <!--/row end-->

        </div>
    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>

<!-- /wrapper -->

<div class="gap"></div>

{% endblock %}