{% extends "shopbase.html.twig" %}
{% block title %} BASISORTH GmbH | Dienstleistungen{% endblock %}
{% block content %}

<div class="parallax-section parallax-fx parallax-image-werkzeugtechnik parallaxOffset no-padding">
    <div class="w100 ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="parallax-content clearfix animated ">
                        <h1 class="x2large">
                            Dienstleistungen
                        </h1>
                        <h5 class="parallaxSubtitle">
                            WIR SIND FÜR SIE IM EINSATZ
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.parallax -->

<div class="container main-container ">

    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12 lead text-center">
                    <p>
                        Neben persönlicher Beratung, 24-h Erreichbarkeit, Ankleiden vor Ort, Fußvermessung, usw...können wir Ihnen durch unsere qualifizierten Mitarbeiter zusätzlich noch auf Sie abgestimmte Dienstleistungen anbieten!
                    </p><br />
                    <ul class="list text-left">
                        <li>Sachkundiger Trainer der PSA-Sicherheitstechnik</li>
                        <li>Geprüfter Fachberater für persönliche Schutzausrüstung (PSA)</li>
                        <li>Berater Anschlagmittel nach BGR 500</li>
                        <li>Online-Shop mit eigenem Bestellsystem
                            <ul>
                                <li>24-h können Sie in Ihrem ganz persönlichen, für Sie angelegten, Shop einkaufen und sich über Ihre Produkte informieren.</li>
                                <li>In Ihrem persönlichen Account können Sie Ihre kompletten Daten selbst verwalten</li>
                                <li><strong>Und auch hier bieten wir Ihnen immer den persönlichen Kontakt!</strong></li>
                            </ul>
                        </li>
                    </ul>
                    <!--/.row-->
                </div>
                <div class="gap"></div>
                <div class="col-xs-12 col-sm-12 lead text-center">
                    <h3>
                        Außerdem steht Ihnen unser Außendienst-Team mit Rat und Tat zur Seite
                    </h3>
                        <hr />
                        <div class="row">
                           <div class="col-md-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/elammers.jpg">
                                </p>
                                <p class="text-center"><strong>Edwin Lammers</strong>
                                <br>Key-Account-Manager <br /> Arbeitsschutz & Werkzeugtechnik
                                    <br>Tel.: 04152 / 87 87 - 93
                                    <br>Mail: e.lammers@basisorth.de</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/bliebich.jpg">
                                </p>
                                <p class="text-center"><strong>Boris Liebich</strong>
                                    <br>Key-Account-Manager <br /> Arbeitsschutz & Werkzeugtechnik
                                    <br>Tel.: 04152 / 87 87 - 94
                                    <br>Mail: b.liebich@basisorth.de</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/shildebrand.jpg">
                                </p>
                                <p class="text-center"><strong>Susann Hildebrand</strong>
                                    <br>Key Account Managerin <br /> Werkzeugtechnik & Berufsbekleidung
                                    <br>Tel.: 04152 / 87 87 - 96
                                    <br>Mail: s.hildebrand@basisorth.de</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/alorenzen.jpg">
                                </p>
                                <p class="text-center"><strong>Andreas Lorenzen</strong>
                                    <br>Key Account Manager <br /> Arbeitsschutz & Berufsbekleidung
                                    <br>Tel.: 04152 / 87 87 - 97
                                    <br>Mail: a.lorenzen@basisorth.de</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/saeichmann.jpg">
                                </p>
                                <p class="text-center"><strong>Sabine Eichmann</strong>
                                    <br>Key Account Managerin <br /> Arbeitsschutz & Berufsbekleidung
                                    <br>Tel.: 04152 / 87 87 - 92
                                    <br>Mail: s.eichmann@basisorth.de</p>
                            </div> 
                        </div>
                </div>
            </div>
            <!--/row end-->
        </div>
    </div>
    <!--/.innerPage-->
</div>
<!-- /.main-container -->

{% endblock %}