{% extends "shopbase.html.twig" %}
{% block content %}

<div class="parallax-section parallax-fx parallax-image-emblemservice parallaxOffset no-padding">
    <div class="w100 ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="parallax-content clearfix animated ">
                        <h1 class="x2large">
                            EMBLEMSERVICE
                        </h1>
                        <h5 class="parallaxSubtitle">
                           WIR BESTICKEN, BEFLOCKEN UND PATCHEN
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.parallax -->

<div class="container main-container ">

    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">

                    <p class="lead text-center">  
                        Tragen Sie Ihren guten Namen nach außen – mit einem Druck oder Stick von UTE-ORTH.
                    </p>
                    <p class="lead text-center"> 
                        Wir bieten Ihnen hochwertige Veredelungstechniken ihrer Berufs-, Sport- und Freizeitbekleidung  (Corporate Wear) an. Alles nach Ihren Vorstellungen und gemäß ihrer CI. Die optimale Umsetzung von Ihrem Firmenlogo, Firmenname oder Motiv ist unser Ziel!<br /> Wir versprechen nichts, was wir nicht halten können!
                    </p>
                    <p class="lead text-center"> 
                        Unser Name steht für beeindruckende Qualität, fachgerechte Beratung, faire Preise und freundlichen Service. Wir liefern bundesweit, selbstverständlich auch nach Hamburg, Berlin, München, Köln, Stuttgart, aber auch ins benachbarte Ausland Österreich, Schweiz.
                    </p>
                    <p class="lead text-center"> 
                        Mit einer schönen Veredelung geben Sie Ihrer Bekleidung den letzten Schliff, das haben wir uns zur Profession gemacht.<br /> Ein schöner Druck/Stick  ist die Visitenkarte Ihres Hauses.
                    </p>
                    <h2>Wir veredeln</h2>
                  <div class="col-lg-12 col-sm-12 col-md-12">

                    <ul class="col-lg-4 col-sm-4 col-md-4 unstyled">
                        <h4><a href="/shop/arbeitskleidung"><li>Poloshirt's</li></a></h4>
                        <h4><a href="/shop/chemikalienschutz"><li>Hemden</li></a></h4>
                        <h4><a href="/shop/einwegbekleidung"><li>Blusen</li></a></h4>
                    </ul>
                    <ul class="col-lg-4 col-sm-4 col-md-4 unstyled">
                        <h4><a href="/shop/forstbekleidung"><li>Arbeitskleidung</li></a></h4>
                        <h4><a href="/shop/kaelteschutz"><li>Taschen</li></a></h4>
                        <h4><a href="/shop/schweisser-hitzeschutz"><li>Handtücher</li></a></h4>
                    </ul>
                    <ul class="col-lg-4 col-sm-4 col-md-4 unstyled">    
                        <h4><a href="/shop/warnschutz"><li>Jacken</li></a></h4>
                        <h4><a href="/shop/wetter-regenschutz"><li>Sweatshirts</li></a></h4>
                        <h4><a href="/shop/hitzeschutz"><li>Caps</li></a></h4>
                    </ul>
                  </div>
                   <div class="gap"></div>
                    <hr class="hr hr30">
                    <div class="gap"></div>
                    <div class="row animated">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <img class="img-responsive" alt="img" src="images/site/transferdruck.jpg">
                            <h3 class="block-title-3"> Transferdruck </h3>
                            <p> Im Transferdruck kann man nicht nur flächige Farben brillant darstellen, mit dieser Technik ist auch die Reproduktion von feinsten Farbverläufen und Fotos möglich. Die Farben werden dabei mit Siebdruckmaschinen nicht direkt auf das Textil gedruckt, sondern auf spezielles Trägerpapier vorgedruckt. Anschließend erfolgt im Siebdruckverfahren der „Kleberauftrag“, der die Farben mit der Textilie verbindet. Das Motiv wird mit einer Transferpresse unter Druck und Hitze auf das Gewebe übertragen. Sobald der Klebstoff der Deckschicht abgekühlt ist, kann die Trägerfolie abgezogen werden – das Motiv bleibt auf der Textilie. Der Druck hat einen leicht gummierten Griff und eine geschlossene, luftundurchlässige Oberfläche. Transferdruck ist auch bei kleinen Auflagen kostengünstig realisierbar. </p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <img class="img-responsive" alt="img" src="images/site/S7003127.jpg">
                            <h3 class="block-title-3"> Direktstick </h3>
                            <p> Die Stickerei ist bereits seit 1860 die edelste und haltbarste Variante. Heute wird das Bild des Stickmusters digitalisiert, die Bestickung selbst erfolgt auf modernsten Mehrkopfstickmaschinen. Eine Maschine kann bis zu 15 Farben vollautomatisch herstellen, wobei Sie aus über 500 verschiedenfarbigen Garnen Ihre Farben auswählen können. Vorteil: Auch mehrfarbige Motive werden wie eine einfarbige Stickerei berechnet.  </p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <img class="img-responsive" alt="img" src="images/site/girl3.jpg">
                            <h3 class="block-title-3"> Stickemlem </h3>
                            <p> Im Gegensatz zum Direktstick, wird ein Stickemblem nicht direkt auf ein Kleidungsstück gestickt sondern auf einen eigenen Untergrund. Der Vorteil bei dieser Veredelungsvariante ist, dass das die Beschädigung durch das Aufbringen des Emblems reduziert wird, da das Emblem nur aufgenäht wird.</p>
                        </div>
                    </div>
                    <!--/.row-->

                </div>
            </div>
            <!--/row end-->
        </div>
    </div>
    <!--/.innerPage-->
    <div style="clear:both"></div>
</div>
<!-- /.main-container -->


<div class="gap"></div>


{% endblock %}