{% extends "shopbase.html.twig" %}
{% block title %} BASISORTH GmbH | Hygieneartikel{% endblock %}
{% block content %}

<div class="parallax-section parallax-fx parallax-image-hygieneartikel parallaxOffset no-padding">
    <div class="w100 ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="parallax-content clearfix animated ">
                        <h1 class="x2large">
                            Hygieneartikel
                        </h1>
                        <h5 class="parallaxSubtitle">
                            PROFESSIONELLE REINIGUNGSMITTEL
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.parallax -->

<div class="container main-container ">

    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">

                    <p class="lead text-center">
                        Für Wohlbefinden und Funktionalität in öffentlichen Waschräumen, in der Industrie, in Hotels, Schulen, Restaurants oder im Gesundheitswesen. Also <strong>in allen Bereichen außerhalb der privaten Haushalte. </strong>
                        <br /><br />
                        Wir können Ihnen unterschiedlichste <strong>Hygiene-Lösungen</strong> anbieten. Die hohe Nutzerfrequenz sowie die unterschiedlichen 
                        Bedürfnisse der Nutzer werden in der Produktentwicklung und Produktauswahl berücksichtigt.
                        <br /><br />
                        <strong>Wir bieten Ihnen die richtige Balance zwischen Umwelt, sozialer Verantwortung und Wirtschaftlichkeit.</strong>

                    </p>
                    <div class="gap"></div>
                    <h2>Unsere Bereiche</h2>
                  <div class="col-lg-12 col-sm-12 col-md-12">

                    <ul class="col-lg-4 col-sm-4 col-md-4 unstyled">
                        <h4><a href="/shop/atemschutz"><li>Hygienepapierprodukte</li></a></h4>
                        <h4><a href="/shop/augenschutz"><li>Professionelle Wischtücher</li></a></h4>
                        <h4><a href="/shop/brandschutz"><li>Professionelle Reinigungstücher</li></a></h4>
                    </ul>
                    <ul class="col-lg-4 col-sm-4 col-md-4 unstyled">
                        <h4><a href="/shop/erstehilfe"><li>Spender</li></a></h4>
                        <h4><a href="/shop/gebotszeichen"><li>Servietten</li></a></h4>
                        <h4><a href="/shop/gehörschutz"><li>Reinigungsmittel</li></a></h4>
                    </ul>
                    <ul class="col-lg-4 col-sm-4 col-md-4 unstyled">    
                        <h4><a href="/shop/handschutz"><li>Müll- und Abfallbeutel</li></a></h4>
                        <h4><a href="/shop/hautschutz-hautpflege"><li>Müll- und Abfallbehälter</li></a></h4>
                        <h4><a href="/shop/hitzeschutz"><li>Umfangreiches Zubehör</li></a></h4>
                    </ul>
                  </div>
                    <div class="gap"></div>
                    <hr class="hr hr30">
                    <div class="gap"></div>
                    <div class="row animated">
                     
                        <h3 class="section-title style2 text-center"><span>UNSERE PREMIUM-PARTNER</span></h3>
        
                        <section class="logos-grid wf-container animation-builder grid-ready">
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell border-left-none">
                                <div class="borders" style="height: 80px; line-height: 80px;">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="fripa" src="/images/suppliers/fripa.png">
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="katrin" src="/images/suppliers/katrin.jpg">
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="wipex" src="/images/suppliers/wipex.png">
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Plum" src="http://ute-orth.de/wp-content/uploads/2014/03/plum.png">
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-6 col-md-4 wf-cell">
                                <div class="borders" style="">
                                    <img class="scale-up animate-element preload-me start-animation-done start-animation" width="130" height="80" alt="Kimberly-Clark" src="/images/suppliers/kimberlyclark.png">
                                </div>
                            </div>
                        </section>

                    </div>
                    <!--/.row-->

                </div>
            </div>
            <!--/row end-->
        </div>
    </div>
    <!--/.innerPage-->
    <div style="clear:both"></div>
</div>
<!-- /.main-container -->


<div class="gap"></div>


{% endblock %}