{% extends "shopbase.html.twig" %}
{% block title %} BASISORTH GmbH | Logo-/Emblemservice{% endblock %}
{% block content %}

<div class="parallax-section parallax-fx parallax-image-emblemservice parallaxOffset no-padding">
    <div class="w100 ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="parallax-content clearfix animated ">
                        <h1 class="x2large">
                            Logo- / Emblemservice
                        </h1>
                        <h5 class="parallaxSubtitle">
                            WIR VEREDELN IHRE BEKLEIDUNG
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.parallax -->
<div class="main-container">
    <div class="container">

        <div class="row innerPage">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row userInfo">
                    <div class="col-xs-12 col-sm-12 lead text-center">
                        <p>
                            Tragen Sie Ihren guten Namen nach außen - mit einem Druck oder Stick.
                        </p>
                        <p>
                            <strong>Wir bieten Ihnen hochwertige Veredelungstechniken Ihrer Berufs-, Sport- und Businessbekleidung an. Alles nach Ihren Vorstellungen gemäß Ihres CI.</strong>
                        </p>
                        <p>
                            Wir beraten Sie und setzen Ihr Firmenlogo, Firmenname oder Motiv optimal um.
                        </p>
                        <p>
                            Mit einer schönen Veredelung geben Sie Ihrer Kleidung etwas Besonderes und kann als Visitenkarte Ihres Hauses von Ihren Mitarbeitern/Kollegen nach draußen getragen werden.
                        </p>
                        <!--/.row-->
                    </div>
                </div>
            </div>
            <div class="gap"></div>
        </div>
    </div>
    <div class="section-bereiche">
        <div class="container">
            <div class="gap"></div>
            <div class="margin-bottom65 text-center">
                <div class="col-lg-offset-1 col-lg-10 lead">
                   <div class="gap"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="text-center">
                                <img alt="" class="img-thumbnail  img-responsive" src="/images/featured/patch1.jpg">
                            </p>
                            <p class="text-center"></p>
                        </div>
                        <div class="col-md-3">
                            <p class="text-center">
                                <img alt="" class="img-thumbnail  img-responsive" src="/images/featured/stick1.jpg">
                            </p>
                            <p class="text-center"></p>
                        </div>
                        <div class="col-md-3">
                            <p class="text-center">
                                <img alt="" class="img-thumbnail  img-responsive" src="/images/featured/patch2.jpg">
                            </p>
                            <p class="text-center"></p>
                        </div>
                        <div class="col-md-3">
                            <p class="text-center">
                                <img alt="" class="img-thumbnail  img-responsive" src="/images/featured/patch3.jpg">
                            </p>
                            <p class="text-center"></p>
                        </div>
                        <div class="col-lg-12">
                            <ul class="nav nav-tabs nav-tabslight">

                                <li class="active lightversion"><a data-toggle="tab" href="#sectionA">Transferdruck</a></li>

                                <li class="lightversion"><a data-toggle="tab" href="#sectionB">Digitaldruck</a></li>
                                
                                <li class="lightversion"><a data-toggle="tab" href="#sectionC">Direktstick</a></li>
                                
                                <li class="lightversion"><a data-toggle="tab" href="#sectionD">Lasern</a></li>

                            </ul>

                            <div class="tab-content lighttext">

                                <div id="sectionA" class="tab-pane fade in active">

                                    <p>Transfers sind übertragbare Drucke und Applikationen, die auf unterschiedlichen Materialien anwendbar sind – abgestimmt auf das jeweilige Einsatzgebiet gibt es entsprechende Ausführungen. Im Textilbereich ist es das führende Drucksystem, weil es auf allen Baumwoll- und Synthetikstoffen für den Sport- und Freizeitbereich, dem Berufsbekleidungssektor sowie in der Textilwerbung eingesetzt werden kann. Spezielle Materialien wie Kunststoffe, Polyester und Metall können mit diesem System ebenfalls bedruckt werden. Mittels Wärmepresse werden die Transfers einfach, schnell und exakt auf Textilien aufgebracht. Die exzellente Druckqualität entspricht den hohen Anforderungen von Handel und Industrie.</p>

                                </div>

                                <div id="sectionB" class="tab-pane fade">

                                    <p>Beim Digitaldruck werden die Druckaufträge direkt vom Computer auf einer digitalen Druckmaschine ausgegeben – die Erstellung von Filmen und Sieben entfällt hierbei. Dieses effiziente Verfahren ermöglicht es, auch Produktionsauflagen ab nur einem Stück mit einem hervorragenden Preis-Leistungsverhältnis fertigen zu können. Die Bandbreite der Möglichkeiten und Einsatzgebiete ist riesig.</p>

                                </div>

                                <div id="sectionC" class="tab-pane fade">

                                    <p>Die Bestickung ist eine elegante Art der Veredelung. Logos und Schriftzüge haben ein sehr hochwertiges Erscheinungsbild. Die Vielfalt der Garne bietet eine breite Farbpalette zur Auswahl an. Verschiedene Garne können abhängig vom Verwendungszweck der Textilien oder der zu bestickenden Güter eingesetzt werden, z.B. kochwaschfeste und chlorechte Polyestergarne, flammenhemmendes Garn oder effektvolle Metallgarne.</p>

                                </div>
                                
                                <div id="sectionD" class="tab-pane fade">

                                    <p>In der Veredelung mittels Direktlaserung lassen sich viele Vorteile vereinen. Sehr schnelle Produktionszeiten, lasergenaue Konturen & exakte Darstellung von Details, wirtschaftliche Produktion sowohl von Einzelstückzahlen als auch großen Auflagen und eine einzigartige Haptik & Beständigkeit machen die Direktlaserung zu einer höchst attraktiven Alternative. Die Bandbreite der Veredelung reicht vom Laserschnitt bis zur Lasergravur – beide sind übrigens in einem Arbeitsgang möglich! Das Verfahren eignet sich besonders für farbige Stoffe, z.B. Fleece, Lederwaren oder Jeansstoffe, da die prägende Tiefengravur Kontraste deutlich herausarbeitet und auch Graustufen perfekt dargestellt werden können. Die Direktlaserung ist in den Konturausformungen äußerst präzise und so lassen sich feine Details und Linien exakt darstellen.</p>

                                </div>                               
                                
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
            <!--/row end-->
            </div>
        </div>
    </div>
    <!--/.innerPage-->
</div>
<!-- /.main-container -->

{% endblock %}