{% extends "shopbase.html.twig" %}
{% block title %} BASISORTH GmbH | Team{% endblock %}
{% block content %}
<div class="container main-container headerOffset">
        <div class="row innerPage">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1 class="title-big text-center section-title-style2">
                    <span> Team </span>
                </h1>
                <div class="row userInfo">

                    <div class="col-xs-12 col-sm-12">

                        <div class="gap"></div>
                        <h2>Geschäftsführung</h2>
                        <hr />
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-md-offset-3 col-sm-offset-2">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/sorth.jpg">
                                </p>
                                <p class="text-center"><strong>Stefan Orth</strong>
                                    <br>Geschäftsführender Gesellschafter
                                    <br>Tel.: 04152 / 87 87 - 0
                                    <br>Mail: s.orth@basisorth.de</p>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/wrunde.jpg">
                                </p>
                                <p class="text-center"><strong>Wolfang Runde</strong>
                                    <br>Geschäftsführender Gesellschafter
                                    <br>Tel.: 04152 / 87 87 - 0
                                    <br>Mail: w.runde@basisorth.de</p>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                        <div class="gap"></div>
                        <h2>Assistenz der Geschäftsführung</h2>
                        <hr />
                        <div class="row row-centered">
                            <div class="col-md-12 col-centered">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/morth.jpg">
                                </p>
                                <p class="text-center"><strong>Maren Orth</strong>
                                    <br>Assistenz der Geschäftsführung
                                    <br>Tel.: 04152 / 87 87 - 63
                                    <br>Mail: m.orth@basisorth.de</p>
                            </div>
                            <div class="col-md-3 col-sm-4">
                            </div>
                        </div>
                        <div class="gap"></div>
                        <h2>Außendienst</h2>
                        <hr />
                        <div class="row">
                           <div class="col-md-4 col-sm-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/elammers.jpg">
                                </p>
                                <p class="text-center"><strong>Edwin Lammers</strong>
                                <br>Key-Account-Manager <br /> Arbeitsschutz & Werkzeugtechnik
                                    <br>Tel.: 04152 / 87 87 - 93
                                    <br>Mail: e.lammers@basisorth.de</p>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/shildebrand.jpg">
                                </p>
                                <p class="text-center"><strong>Susanne Hildebrand</strong>
                                    <br>Key Account Managerin <br /> Werkzeugtechnik & Berufsbekleidung
                                    <br>Tel.: 04152 / 87 87 - 96
                                    <br>Mail: s.hildebrand@basisorth.de</p>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/alorenzen.jpg">
                                </p>
                                <p class="text-center"><strong>Andreas Lorenzen</strong>
                                    <br>Key Account Manager <br /> Arbeitsschutz & Berufsbekleidung
                                    <br>Tel.: 04152 / 87 87 - 97
                                    <br>Mail: a.lorenzen@basisorth.de</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/saeichmann.jpg">
                                </p>
                                <p class="text-center"><strong>Sabine Eichmann</strong>
                                    <br>Key Account Managerin <br /> Arbeitsschutz & Berufsbekleidung
                                    <br>Tel.: 04152 / 87 87 - 92
                                    <br>Mail: s.eichmann@basisorth.de</p>
                            </div> 
                            <div class="col-md-4 col-sm-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/bliebich.jpg">
                                </p>
                                <p class="text-center"><strong>Boris Liebich</strong>
                                    <br>Key-Account-Manager <br /> Arbeitsschutz & Werkzeugtechnik
                                    <br>Tel.: 04152 / 87 87 - 94
                                    <br>Mail: b.liebich@basisorth.de</p>
                            </div>
                        </div>
                        <div class="gap"></div>
                        <h2>Innendienst</h2>
                        <hr />
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail img-responsive img-team" src="/images/team/fbornemann.jpg">
                                </p>
                                <p class="text-center"><strong>Frank Bornemann</strong>
                                    <br>Innendienstleitung <br /> Produktmanager PSA
                                    <br>Tel.: 04152 / 87 87 - 70
                                    <br>Mail: f.bornemann@basisorth.de</p>
                            </div>
                           <div class="col-md-4 col-sm-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/sschrader.jpg">
                                </p>
                                <p class="text-center"><strong>Sebastian Schrader</strong>
                                    <br>Bereichsleiter Verkauf <br /> Arbeitsschutz & Berufsbekleidung
                                    <br>Tel.: 04152 / 87 87 - 56
                                    <br>Mail: s.schrader@basisorth.de</p>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/afleck.jpg">
                                </p>
                                <p class="text-center"><strong>Antje Fleck</strong>
                                    <br>Bereichsleiterin Verkauf <br /> Werkzeugtechnik & C-Teile-Management
                                    <br>Tel.: 04152 / 87 87 - 52
                                    <br>Mail: a.fleck@basisorth.de</p>
                            </div>
                        </div>
                        <div class="row">    
                            <div class="col-md-4 col-sm-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/tobermeit.jpg">
                                </p>
                                <p class="text-center"><strong>Torben Obermeit</strong>
                                    <br>Vertriebsinnendienst <br /> C-Teile-Management, Hygiene- und Werkzeugtechnik
                                    <br>Tel.: 04152 / 87 87 - 57
                                    <br>Mail: t.obermeit@basisorth.de</p>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/fhuse.jpg">
                                </p>
                                <p class="text-center"><strong>Fabian Huse</strong>
                                    <br>Vertriebsinnendienst <br /> Arbeitsschutz & Berufsbekleidung
                                    <br>Tel.: 04152 / 87 87 - 58
                                    <br>Mail: f.huse@basisorth.de</p>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/edorn.jpg">
                                </p>
                                <p class="text-center"><strong>Eckhard Dorn</strong>
                                    <br>Vertriebsinnendienst <br /> Arbeitsschutz & Berufsbekleidung
                                    <br>Tel.: 04105 / 58 68 - 16
                                    <br>Mail: e.dorn@basisorth.de</p>
                            </div>
                        </div>
                        <div class="row">     
                            <div class="col-md-4 col-sm-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/dbeuster.jpg">
                                </p>
                                <p class="text-center"><strong>Doreen Beuster</strong>
                                    <br>Vertriebsinnendienst <br /> Arbeitsschutz & Berufsbekleidung
                                    <br>Tel.: 04105 / 58 68 - 14
                                    <br>Mail: d.beuster@basisorth.de</p>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/ukroll.jpg">
                                </p>
                                <p class="text-center"><strong>Uwe Kroll</strong>
                                    <br>Werkzeugtechnik
                                    <br>Tel.: 04151 / 12214
                                    <br>Mail: u.kroll@basisorth.de</p>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/fheidmann.jpg">
                                </p>
                                <p class="text-center"><strong>Fabian Heidmann</strong>
                                    <br>Vertriebsinnendienst  <br />  Azubi
                                    <br>Tel.: 04152 / 87 87 - 54
                                    <br>Mail: f.heidmann@basisorth.de</p>
                            </div>
                        </div>
                        <div class="gap"></div>
                        <h2>Buchhaltung</h2>
                        <hr />
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/pfeuerhan.jpg">
                                </p>
                                <p class="text-center"><strong>Peggy Feuerhan</strong>
                                    <br>Buchhaltung
                                    <br>Tel.: 04152 / 87 87 - 62
                                    <br>Mail: p.feuerhan@basisorth.de</p>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/hkrueger.jpg">
                                </p>
                                <p class="text-center"><strong>Helga Krüger</strong>
                                    <br>Buchhaltung
                                    <br>Tel.: 04152 / 87 87 - 64
                                    <br>Mail: h.krueger@basisorth.de</p>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/nwasner.jpg">
                                </p>
                                <p class="text-center"><strong>Nicole Wasner</strong>
                                    <br>Buchhaltung
                                    <br>Tel.: 04152 / 87 87 - 64
                                    <br>Mail: buchhaltung@basisorth.de</p>
                            </div>
                        </div>
                        <div class="gap"></div>
                        <h2>Logistik</h2>
                        <hr />
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-lg-3">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/mmeissner.jpg">
                                </p>
                                <p class="text-center"><strong>Marcel Meißner</strong>
                                    <br>Logistik
                                    <br>Tel.: 04152 / 87 87 - 50
                                    <br>Mail: logistik@basisorth.de</p>
                            </div>
                            <div class="col-md-3 col-sm-4 col-lg-3">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/kubretschneider.jpg">
                                </p>
                                <p class="text-center"><strong>Kay-Uwe Bretschneider</strong>
                                    <br>Vertriebsinnendienst / Logistik
                                    <br>Tel.: 04152 / 87 87 - 50
                                    <br>Mail: ku.bretschneider@basisorth.de</p>
                            </div>
                            <div class="col-md-3 col-sm-4 col-lg-3">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/rneuhaus.jpg">
                                </p>
                                <p class="text-center"><strong>Rüdiger Neuhaus</strong>
                                    <br>Logistik
                                    <br>Tel.: 04152 / 87 87 - 50
                                    <br>Mail: logistik@basisorth.de</p>
                            </div>
                            <div class="col-md-3 col-sm-4 col-lg-3">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/razzouz.jpg">
                                </p>
                                <p class="text-center"><strong>Rayen Azzouz</strong>
                                    <br>Logistik
                                    <br>Tel.: 04152 / 87 87 - 50
                                    <br>Mail: logistik@basisorth.de</p>
                            </div>
                        </div>
                        <div class="gap"></div>
                        <h2>Veredelung</h2>
                        <hr />
                        <div class="row row-centered">
                            <div class="col-lg-12 col-centered">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/steichmann.jpg">
                                </p>
                                <p class="text-center"><strong>Stefanie Eichmann</strong>
                                    <br>Veredelung
                                    <br>Tel.: 04152 / 87 87 - 0
                                    <br>Mail: info@basisorth.de</p>
                            </div>
                            <div class="col-md-3 col-sm-4">
                            </div>
                        </div>
                        <div class="gap"></div>
                        <h2>IT / Medien</h2>
                        <hr />
                        <div class="row">
                            <div class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/rbrannath.jpg">
                                </p>
                                <p class="text-center"><strong>Roy Brannath</strong>
                                    <br>Webentwicklung & IT-Administrator
                                    <br>Tel.: 04152 / 87 87 - 61
                                    <br>Mail: r.brannath@basisorth.de</p>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <p class="text-center">
                                    <img alt="" class="img-thumbnail  img-responsive img-team" src="/images/team/sheidemann.jpg">
                                </p>
                                <p class="text-center"><strong>Stefanie Heidemann</strong>
                                    <br>Design & Neue Medien
                                    <br>Tel.: 04152 / 87 87 - 53
                                    <br>Mail: s.heidemann@basisorth.de</p>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>


                </div>
                <!--/.row  ||  -->

            </div>
        </div>
        <!--/row || innerPage end-->
        <div style="clear:both"></div>
    </div>
    <!-- ./main-container -->
    <div class="gap"></div>
<!-- /main-container -->


{% endblock %}