{% extends "shopbase.html.twig" %}
{% block content %}


<div class="parallaxOffset no-padding fixedContent contact-intro">
    <div class="w100 map">
        <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2376.848895334726!2d10.341691416118572!3d53.43540997999778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41639941a5d9c52d%3A0x8f8a170ef54d2949!2sUTE+ORTH+Bekleidung+%26+Technik+GmbH+%26+Co.+KG!5e0!3m2!1sde!2sde!4v1461680521916">
        </iframe>
    </div>
</div>
<!--/.contact-intro || map end-->

<div class="wrapper whitebg contact-us">
    <div class="container main-container ">
        <div class="row innerPage">
            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="row userInfo">

                    <div class="col-xs-12 col-sm-12">

                        <h1 class="title-big text-center section-title-style2">
                            <span> Unternehmen </span>
                        </h1>
                        <div class="row">
                            <div class="col-sm-4">
                                <h3><i class="fa fa-map-marker"></i> Adresse</h3>
                                <p><strong>Basis Orth GmbH</strong>
                                    <br>Hermsdorfer Straße 1
                                    <br>21502 Geesthacht
                                    <br>Deutschland
                                </p>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-sm-4">
                                <h3><i class="fa fa-phone"></i> Kontakt</h3>
                                <p class="text-muted">Bei Fragen rufen Sie uns gerne an!<p/>
                                <p><strong>Tel.: </strong>04152 / 87 87 - 0 
                                    <br><strong>Fax.: </strong>04152 / 87 87 - 87
                                </p>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-sm-4">
                                <h3><i class="fa fa-user"></i> Geschäftsführer</h3>
                                <ul>
                                    <li><strong>Stefan Orth</strong></li>
                                    <li><strong>Wolfgang Runde</strong></li>
                                </ul>
                            </div>
                            <!-- /.col-sm-4 -->
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <h3>Wer wir sind</h3>
                                <p>
                                Ob Industrie, Logistik, Dienstleister, Gastronomie, Hotel, Lebensmittel verarbeitende Betriebe, oder Handwerk – die Basis Orth GmbH berät Sie Individuell und kompetent rund um das Thema Arbeitsschutz, Berufsbekleidung, Werkzeugtechnik und C-Teile-Management.
                                </p>
                                <p>
                                Angefangen bei hochwertiger und alltagstauglicher Berufsbekleidung, modischer Corporate Wear bis hin zu einer Vielfalt an technischen Artikeln und Reinigungsmitteln. Wir achten bei unseren Produkten sowohl auf die Aspekte Qualität, Funktionalität, Verarbeitung und Tragekomfort als auch auf die Emotion, das heißt auf das Wohlbefinden der Mitarbeiter und Kunden.
                                </p>
                                <p>
                                Kreativität und Individualität zieht sich auch durch unseren Bereich Stickerei und Transferdruck. Wir bieten Ihnen jeglichen Emblem-Service aus einer Hand.
                                Über allem stehen für uns natürlich die Bedürfnisse und Wünsche unserer Kunden. Das erklärt auch, warum der Artikelumfang kontinuierlich modifiziert und erweitert wird und warum die Ute Orth GmbH & Co.KG immer wieder neue Märkte bedient. Durch hervorragende, häufig auch internationale Beziehungen zu Herstellern und Anbietern sind wir heute in der Lage, die vielfältigsten Marktbedürfnisse schnell und unkompliziert zu erfüllen.
                                </p>
                                <p>
                                Gerne unterstützen wir Sie vor Ort mit unserem rundum Service, egal ob Kollektionsvorlage, Einkleidung vor Ort, Schuhvermessung oder unseren Stichtagstreuen Logistik Leistungen.
                                </p>
                                <p>
                                Denn dies ist die Basis für langfristige Zufriedenheit und partnerschaftliche Zusammenarbeit auf allen Seiten. 
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
                <!--/.row  ||  -->

            </div>
        </div>
        <!--/row || innerPage end-->
        <div style="clear:both"></div>
    </div>
    <!-- ./main-container -->
    <div class="gap"></div>
</div>
<!-- /main-container -->

{% endblock %}