{% extends "shopbase.html.twig" %}
{% block title %} BASISORTH GmbH | Unternehmen{% endblock %}
{% block content %}


<div class="parallaxOffset no-padding fixedContent contact-intro">
    <div class="w100 map">
        <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2376.848895334726!2d10.341691416118572!3d53.43540997999778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41639941a5d9c52d%3A0x8f8a170ef54d2949!2sUTE+ORTH+Bekleidung+%26+Technik+GmbH+%26+Co.+KG!5e0!3m2!1sde!2sde!4v1461680521916">
        </iframe>
    </div>
</div>
<!--/.contact-intro || map end-->

<div class="wrapper whitebg contact-us">
    <div class="container main-container ">
        <div class="row innerPage">
            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="row userInfo">

                    <div class="col-xs-12 col-sm-12 text-center">

                        <h1 class="title-big text-center section-title-style2">
                            <span> Unternehmen </span>
                        </h1>                  
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 lead">
                                <h2>Wer wir sind</h2>
                                <p>
                                Kreativität und Individualität zieht sich auch durch unseren Bereich Stickerei und Transferdruck. Wir bieten Ihnen jeglichen Emblem-Service aus einer Hand.
                                Über allem stehen für uns natürlich die Bedürfnisse und Wünsche unserer Kunden. Das erklärt auch, warum der Artikelumfang kontinuierlich modifiziert und erweitert wird und warum die <strong>BASIS<span style="color: #cc0d17;">ORTH</span> GmbH</strong> immer wieder neue Märkte bedient. Durch hervorragende, häufig auch internationale Beziehungen zu Herstellern und Anbietern sind wir heute in der Lage, die vielfältigsten Marktbedürfnisse schnell und unkompliziert zu erfüllen.
                                </p>
                                <p>
                                Angefangen bei hochwertiger und alltagstauglicher Berufsbekleidung, modischer Corporate Wear bis hin zu einer Vielfalt an technischen Artikeln. Wir achten bei unseren Produkten auf Qualität, Funktionalität, Verarbeitung und Tragekomfort.
                                </p>
                                <p>
                                    <strong>Ganz besonders liegt uns der Service am Herzen.</strong>
                                </p>
                                <p>
                                Egal ob <strong>Beratung für persönliche Schutzausrüstung, Einkleidung vor Ort, Fußvermessung, Absturzsicherung, C-Teile-Management</strong>, die Zufriedenheit und partnerschaftliche Zusammenarbeit ist unsere Basis!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3">
                            <p class="text-center">
                                <img alt="" class="img-thumbnail  img-responsive" src="/images/team/sorth.jpg">
                            </p>
                            <p class="text-center"><strong>Stefan Orth</strong>
                                <br>Geschäftsführender Gesellschafter

                        </div>
                        <div class="col-md-3">
                            <p class="text-center">
                                <img alt="" class="img-thumbnail  img-responsive" src="/images/team/wrunde.jpg">
                            </p>
                            <p class="text-center"><strong>Wolfang Runde</strong>
                                <br>Geschäftsführender Gesellschafter
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
                <!--/.row  ||  -->

            </div>
        </div>
        <!--/row || innerPage end-->
        <div style="clear:both"></div>
    </div>
    <!-- ./main-container -->
    <div class="gap"></div>
</div>
<!-- /main-container -->

{% endblock %}