{% extends "shopbase.html.twig" %}
{% block content %}

<div class="parallax-section parallax-fx parallax-image-werkzeugtechnik parallaxOffset no-padding">
    <div class="w100 ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="parallax-content clearfix animated ">
                        <h1 class="x2large">
                            Werkzeugtechnik
                        </h1>
                        <h5 class="parallaxSubtitle">
                            PERFEKTE WERKZEUGE FÜR JEDE AUFGABE
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.parallax -->

<div class="container main-container ">

    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12 lead text-center">

                    <p>
                        <strong>Perfekte Werkzeuge für jede Aufgabe. </strong>
                    </p>
                    <p>
                        Wir sind Ihr Partner für eine einzigartige Bandbreite an Produkten und Dienstleistungen.
                    </p>
                    <p>
                        Unsere hohe Qualität gilt für ein breites und tiefes Angebot an Präzisionswerkzeugen und Betriebsausstattungen. 
                        Unser <strong>exzellenter und schneller Lieferservice</strong> bietet Ihnen höchste <strong>Flexibilität</strong> und <strong>Verfügbarkeit</strong>. 
                        Wir stehen für qualifizierte Dienstleistungen, individuelle Beratung, Qualitätssicherung, Marketingservice und eine hohe flexible Logistik.

                    </p>
                    <!--/.row-->
                </div>
                <div class="gap"></div>
                <div>
                    <h2 style="text-align: center;">Unsere Bereiche</h2>
                          <div class="col-lg-12 col-sm-12 col-md-12">

                            <ul class="col-lg-3 col-sm-3 col-md-3 unstyled">
                                <h4><a href="#"><li>Bautechnik</li></a></h4>
                                <h4><a href="#"><li>Befestigungstechnik</li></a></h4>
                                <h4><a href="#"><li>Beschlagsysteme & Sicherheitstechnik</li></a></h4>
                                <h4><a href="#"><li>Druckluftwerkzeuge</li></a></h4>
                                <h4><a href="#"><li>Einsteckwerkzeuge</li></a></h4>
                            </ul>
                            <ul class="col-lg-3 col-sm-3 col-md-3 unstyled">
                                <h4><a href="#"><li>Elektrotechnik</li></a></h4>
                                <h4><a href="#"><li>Elektrowerkzeuge</li></a></h4>
                                <h4><a href="#"><li>Garten- und Landschaftsbau</li></a></h4>
                                <h4><a href="#"><li>Handwerkzeuge</li></a></h4>
                                <h4><a href="#"><li>Industrietechnik</li></a></h4>
                            </ul>
                            <ul class="col-lg-3 col-sm-3 col-md-3 unstyled">    
                                <h4><a href="#"><li>KFZ-Werkezuge</li></a></h4>
                                <h4><a href="#"><li>Lager- und Betriebseinrichtung</li></a></h4>
                                <h4><a href="#"><li>Maschinenelemente, Befestigungsmittel</li></a></h4>   
                                <h4><a href="#"><li>Messwerkzeuge</li></a></h4>
                                <h4><a href="#"><li>Schleiftechnik</li></a></h4>
                            </ul>
                            <ul class="col-lg-3 col-sm-3 col-md-3 unstyled">    
                                <h4><a href="#"><li>Schraubwerkzeuge</li></a></h4>
                                <h4><a href="#"><li>Schweiß- und Schneidtechnik</li></a></h4>
                                <h4><a href="#"><li>Werkzeugaufbewahrung</li></a></h4>   
                                <h4><a href="#"><li>Zangen</li></a></h4>
                                <h4><a href="#"><li>Zerspanung</li></a></h4>
                            </ul>
                          </div>
                </div>
            </div>
            <!--/row end-->
        </div>
    </div>
    <!--/.innerPage-->
    <div style="clear:both"></div>
</div>
<!-- /.main-container -->


<div class="gap"></div>


{% endblock %}