{% extends "shopbase.html.twig" %}
{% block title %} BASISORTH GmbH | Widerrufsrecht{% endblock %}
{% block content %}


<div class="section container main-container headerOffset">
            <div class="row innerPage margin-bottom65">
                <div class="col-lg-12">
                    <h3 class="section-title style2 text-center"><span>Widerrufsrecht</span></h3>
                    <div class="gap"></div>
                </div>
                <div class="col-lg-2">
                    <i class="fa fa-exclamation-triangle fa-5x"></i>
                </div>
                <div class="col-lg-10">
                    <h3> Unsere Widerrufsrecht befindet sich derzeit in Überarbeitung.</h3>
                </div>
            </div>
            <!--/row end-->

        </div>
    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>

<!-- /wrapper -->

<div class="gap"></div>

{% endblock %}