{% extends "shopbase.html.twig" %}
{% block content %}

<div class="container main-container headerOffset">
    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <h1 class=" text-left border-title"> Widerrufsrecht  </h1>

                    <p><h2> Widerrufsrecht für Verbraucher </h2></p>
                    <p>(Verbraucher ist jede natürliche Person, die ein Rechtsgeschäft zu einem Zwecke abschließt, der weder ihrer gewerblichen noch selbständigen beruflichen Tätigkeit zugerechnet werden kann)
                        Widerrufsbelehrung
                        Widerrufsrecht
                        Sie können Ihre Vertragserklärung innerhalb von 14 Tagen ohne Angabe von Gründen in Textform (z. B. Brief, Fax, E-Mail) oder – wenn Ihnen die Sache vor Fristablauf überlassen wird – auch durch Rücksendung der Sache widerrufen. Die Frist beginnt nach Erhalt dieser Belehrung in Textform, jedoch nicht vor Eingang der Ware beim Empfänger (bei der wieder-kehrenden Lieferung gleichartiger Waren nicht vor Eingang der ersten Teillieferung) und auch nicht vor Erfüllung unserer Informationspflichten gemäß Artikel 246 § 2 in Verbindung mit § 1 Abs. 1 und 2 EGBGB sowie unserer Pflichten gemäß § 312g Abs. 1 Satz 1 BGB in Verbindung mit Artikel 246 § 3 EGBGB. Zur Wahrung der Widerrufsfrist genügt die rechtzei-tige Absendung des Widerrufs oder der Sache.
                    </p>
                    <p><h4>Der Widerruf ist zu richten an:</h4>
                    <b>Ute Orth Bekleidung & Technik GmbH & Co. KG</b>, Hermsdorfer Straße 1, 21502 Geesthacht,
                    Fax: 04152 / 87 87 87, Email: info@ute-orth.de</p>
                    <hr>
                    <div class="w100 clearfix">
                        <h3> Widerrufsfolgen </h3>

                        <p> Im Falle eines wirksamen Widerrufs sind die beiderseits empfangenen Leistungen zurückzu-gewähren und ggf. gezogene Nutzungen (z. B. Zinsen) herauszugeben. Können Sie uns die empfangene Leistung sowie Nutzungen (z.B. Gebrauchsvorteile) nicht oder teilweise nicht oder nur in verschlechtertem Zustand zurückgewähren beziehungsweise herausgeben, müs-sen Sie uns insoweit Wertersatz leisten. Für die Verschlechterung der Sache und für gezo-gene Nutzungen müssen Sie Wertersatz nur leisten, soweit die Nutzungen oder die Ver-schlechterung auf einen Umgang mit der Sache zurückzuführen ist, der über die Prüfung der Eigenschaften und der Funktionsweise hinausgeht. Unter „Prüfung der Eigenschaften und der Funktionsweise“ versteht man das Testen und Ausprobieren der jeweiligen Ware, wie es etwa im Ladengeschäft möglich und üblich ist.</p>
                        <p> Paketversandfähige Sachen sind auf unsere Gefahr zurückzusenden. Sie haben die regel-mäßigen Kosten der Rücksendung zu tragen, wenn die gelieferte Ware der bestellten ent-spricht und wenn der Preis der zurückzusendenden Sache einen Betrag von 40 Euro nicht übersteigt oder wenn Sie bei einem höheren Preis der Sache zum Zeitpunkt des Widerrufs noch nicht die Gegenleistung oder eine vertraglich vereinbarte Teilzahlung erbracht haben. Anderenfalls ist die Rücksendung für Sie kostenfrei. Nicht paketversandfähige Sachen wer-den bei Ihnen abgeholt. Verpflichtungen zur Erstattung von Zahlungen müssen innerhalb von 30 Tagen erfüllt werden. Die Frist beginnt für Sie mit der Absendung Ihrer Widerrufserklä-rung oder der Sache, für uns mit deren Empfang.</p>
                        <hr>
                        <h3> Ausschluss des Widerrufsrechtes</h3>

                        <p> Das Widerrufsrecht besteht u.a. nicht bei Verträgen zur Lieferung von Waren, die nach Kun-denspezifikation angefertigt werden oder eindeutig auf die persönlichen Bedürfnisse zuge-schnitten sind oder die auf Grund ihrer Beschaffenheit nicht für eine Rücksendung geeignet sind oder schnell verderben können oder deren Verfalldatum überschritten würde, zur Liefe-rung von Audio- oder Videoaufzeichnungen oder von Software, sofern die gelieferten Daten-träger von Ihnen entsiegelt worden sind sowie zur Lieferung von Zeitungen, Zeitschriften und Illustrierten (es sei denn, dass Sie ihre Vertragserklärung zur Lieferung von Zeitungen, Zeit-schriften und Illustrierten telefonisch abgegeben haben). Ende der Widerrufsbelehrung</p>
                        <p><h5><b>Bitte beachten:</b></h5>
                            Senden Sie bitte, soweit möglich, die Ware nicht unfrei sondern als frankiertes Paket an uns zurück. Gern erstatten wir Ihnen auch vorab die Portokosten, soweit wir die Rücksendekosten zu tragen haben.
                            Vermeiden Sie bitte Beschädigungen und Verunreinigungen der Ware. Senden Sie die Ware bitte möglichst in Originalverpackung mit sämtlichem Zubehör und mit allen Verpackungsbestandteilen an uns zurück. Soweit Sie die Originalverpackung nicht mehr besitzen, sorgen Sie bitte zur Vermeidung von Transportschäden für eine geeignete Verpackung.
                            Die vorstehenden Modalitäten sind keine Voraussetzung für die wirksame Ausübung des Widerrufsrechtes.
                        </p>
                        <hr>
                        <h3> Rückgaberecht für Verbraucher </h3>

                        <p> (Verbraucher ist jede natürliche Person, die ein Rechtsgeschäft zu einem Zwecke abschließt, der weder ihrer gewerblichen noch selbständigen beruflichen Tätigkeit zugerechnet werden kann)</p>
                        <p> Rückgabebelehrung <br /> 
                            Rückgaberecht für Verbraucher
                        </p>
                        <p> Sie können die erhaltene Ware ohne Angabe von Gründen innerhalb von 14 Tagen durch Rücksendung der Ware zurückgeben. Die Frist beginnt nach Erhalt dieser Belehrung in Text-form (z. B. als Brief, Fax, E-Mail), jedoch nicht vor Eingang der Ware beim Empfänger (bei der wiederkehrenden Lieferung gleichartiger Waren nicht vor Eingang der ersten Teilliefe-rung) und auch nicht vor Erfüllung unserer Informationspflichten gemäß Artikel 246 § 2 in Verbindung mit § 1 Abs. 1 und 2 EGBGB sowie unserer Pflichten gemäß § 312g Abs. 1 Satz 1 BGB in Verbindung mit Artikel 246 § 3 EGBGB. Nur bei nicht paketversandfähiger Ware (z. B. bei sperrigen Gütern) können Sie die Rückgabe auch durch Rücknahmeverlangen in Text-form erklären. Zur Wahrung der Frist genügt die rechtzeitige Absendung der Ware oder des Rücknahmeverlangens. In jedem Fall erfolgt die Rücksendung auf unsere Kosten und Ge-fahr. Die Rücksendung oder das Rücknahmeverlangen hat zu erfolgen an:
                        <br /><br />
                        <b> Ute Orth Bekleidung & Technik GmbH & Co. KG</b>, Hermsdorfer Straße 1, 21502 Geesthacht,
                            Fax: 04152 / 87 87 87, Email: info@ute-orth.de</p>
                        <hr>
                        <h4> Rückgabefolgen </h4>

                        <p> Im Falle einer wirksamen Rückgabe sind die beiderseits empfangenen Leistungen zurückzugewähren und ggf. gezogene Nutzungen herauszugeben. Bei einer Verschlechterung der Sache und für Nutzungen (z.B. Gebrauchsvorteile) die nicht oder teilweise nicht oder nur in verschlechtertem Zustand herausgegeben werden können, müssen Sie uns insoweit Wertersatz leisten. Für die Verschlechterung der Sache und für gezogene Nutzungen müssen Sie Wertersatz nur leisten, soweit die Nutzungen oder die Verschlechterung auf einen Umgang mit der Sache zurückzuführen ist, der über die Prüfung der Eigenschaften und der Funkti-onsweise hinausgeht. Unter „Prüfung der Eigenschaften und der Funktionsweise“ versteht man das Testen und Ausprobieren der jeweiligen Ware, wie es etwa im Ladengeschäft mög-lich und üblich ist. Verpflichtungen zur Erstattung von Zahlungen müssen innerhalb von 30 Tagen erfüllt werden. Die Frist beginnt für Sie mit der Absendung der Ware oder des Rücknahmeverlangens, für uns mit dem Empfang.</p>
                        
                        <h4> Ausschluss des Rückgaberechtes </h4>
                        
                        <p> Das Rückgaberecht besteht u.a. nicht bei Verträgen zur Lieferung von Waren, die nach Kun-denspezifikation angefertigt werden oder eindeutig auf die persönlichen Bedürfnisse zugeschnitten sind oder die auf Grund ihrer Beschaffenheit nicht für eine Rücksendung geeignet sind oder schnell verderben können oder deren Verfalldatum überschritten würde, zur Liefe-rung von Audio- oder Videoaufzeichnungen oder von Software, sofern die gelieferten Daten-träger von Ihnen entsiegelt worden sind sowie zur Lieferung von Zeitungen, Zeitschriften und Illustrierten (es sei denn, dass Sie ihre Vertragserklärung zur Lieferung von Zeitungen, Zeit-schriften und Illustrierten telefonisch abgegeben haben). Ende der Rückgabebelehrung </p>
                        
                        <h4> Bitte beachten: </h4>
                        <p> Senden Sie bitte, soweit möglich, die Ware nicht unfrei sondern als frankiertes Paket an uns zurück. Gern erstatten wir Ihnen auch vorab die Portokosten. Vermeiden Sie bitte Beschädigungen und Verunreinigungen der Ware. Senden Sie die Ware bitte möglichst in Originalverpackung mit sämtlichem Zubehör und mit allen Verpackungsbestandteilen an uns zurück. Soweit Sie die Originalverpackung nicht mehr besitzen, sorgen Sie bitte zur Vermeidung von Transportschäden für eine geeignete Verpackung.
                            Die vorstehenden Modalitäten sind keine Voraussetzung für die wirksame Ausübung des Rückgaberechtes.</p>
                        <hr>    
                    </div>
                </div>
            </div>
            <!--/row end-->

        </div>
    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>

<!-- /wrapper -->

<div class="gap"></div>

{% endblock %}