{% extends "adminbase.html.twig" %}
{% block content %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Attribute</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="/admin/new-attribute">Neues Attribut</a>
                        </div>
                        <div class="panel-body">
                        {% for flashMessage in app.session.flashbag.get('danger') %}
                            <div class="alert alert-danger">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="alert alert-success">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                            <div class="dataTable_wrapper">
                               <table class="table table-striped table-bordered table-hover" id="dataTables-customers">
                                   <thead>
                                       <tr>
                                           <th>ID</th>
                                           <th>Attribute</th>
                                       </tr>
                                   </thead>
                               </table>
                           </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
{% endblock %}
{% block js %}    


    <!-- MetisMenu CSS -->
    <link href="/assets/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="/assets/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/assets/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">

    <!-- DataTables JavaScript -->
    <script src="/assets/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/assets/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

    <script>
                
        $(document).ready(function() {
            
            var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
            };
            
            var q = getUrlParameter('q');
            $('#dataTables-customers').DataTable({
                "sAjaxSource": "/admin/jsonattributelist",
                "aoColumnDefs": [
                    {
                        "aTargets": [ 0 ], // Column to target
                        "mRender": function ( data, type, full ) {
                            return '<a href="/admin/attribute/' + full[2] + '">' + data + '</a>';
                        }
                    }
                ]
            })
        })
    </script>
{% endblock %}