{% extends "shopbase.html.twig" %}
{% block js_top %}
    <!-- styles needed by footable  -->
    <link href="/assets/css/footable-0.1.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/footable.sortable-0.1.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}

<div class="container main-container headerOffset">

    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/shop">Home</a></li>
                <li><a href="/account/my-account">Mein Konto</a></li>
                <li class="active"> Bestellhistorie </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span><i class="fa fa-list-alt"></i> Order Bestellstatus </span></h1>

            <div class="row userInfo">
                <div class="col-lg-12">
                    <h2 class="block-title-2"> Status Ihrer Bestellung </h2>
                </div>


                <div class="statusContent">


                    <div class="col-sm-12">
                        <div class=" statusTop">
                            <p><strong>Status:</strong> Im Rückstand</p>

                            <p><strong>Bestelldatum:</strong> Dienstag, 21.10.2015</p>

                            <p><strong>Auftragsnummer:</strong> 56684 </p>
                            
                            <p><strong>Ihre Bestellnummer:</strong> CIA-5464644488 </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="order-box">
                            <div class="order-box-header">

                                Rechnungsadresse
                            </div>


                            <div class="order-box-content">
                                <div class="address">
                                    <p><strong>Hellermann Tyton GmbH </strong></p>

                                    <div class="adr">
                                        Großer Moorweg 45<br>25436 Tornesch
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="col-sm-6">
                        <div class="order-box">
                            <div class="order-box-header">

                                Lieferadresse
                            </div>


                            <div class="order-box-content">


                                <div class="address">
                                    <p><strong>Hellermann Tyton GmbH</strong></p>

                                    <p>z.Hd. Frau Wilhelm</p>
                                    
                                    <div class="adr">
                                        Großer Moorweg 45<br>25436 Tornesch
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                    <div style="clear: both"></div>

                    <div class="col-sm-6">
                        <div class="order-box">
                            <div class="order-box-header">

                                Zahlungsmethode
                            </div>


                            <div class="order-box-content">
                                <div class="address">
                                    <p>auf Rechnung</p>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="col-sm-6">
                        <div class="order-box">
                            <div class="order-box-header">

                                Lieferbedingungen
                            </div>


                            <div class="order-box-content">
                                <div class="address">
                                    <p> per Auslieferung </p>
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="col-sm-12 clearfix">
                        <div class="order-box">
                            <div class="order-box-header">

                                Bestellpositionen
                            </div>


                            <div class="order-box-content">
                                <div class="table-responsive">
                                    <table class="order-details-cart">
                                        <tbody>
                                        <tr class="cartProduct">
                                            <td class="cartProductThumb" style="width:20%">
                                                <div><a href="product-details.html"> <img alt="img"
                                                                                          src="/images/product/3.jpg">
                                                </a></div>
                                            </td>
                                            <td style="width:40%">
                                                <div class="miniCartDescription">
                                                    <h4><a href="product-details.html"> TSHOP Tshirt DO9 </a></h4>
                                                    <span class="size"> 12 x 1.5 L </span>

                                                    <div class="price"><span> $22 </span></div>
                                                </div>
                                            </td>
                                            <td class="" style="width:10%"><a> X 1 </a></td>
                                            <td class="" style="width:15%"><span> $33 </span></td>

                                        </tr>
                                        <tr class="cartProduct">
                                            <td class="cartProductThumb" style="width:20%">
                                                <div><a href="product-details.html"> <img alt="img"
                                                                                          src="/images/product/2.jpg">
                                                </a></div>
                                            </td>
                                            <td style="width:40%">
                                                <div class="miniCartDescription">
                                                    <h4><a href="product-details.html"> TShir TSHOP 09 </a></h4>
                                                    <span class="size"> 12 x 1.5 L </span>

                                                    <div class="price"><span> $15 </span></div>
                                                </div>
                                            </td>
                                            <td class="" style="width:10%"><a> X 1 </a></td>
                                            <td class="" style="width:15%"><span> $120 </span></td>

                                        </tr>
                                        <tr class="cartProduct">
                                            <td class="cartProductThumb" style="width:20%">
                                                <div><a href="product-details.html"> <img alt="img"
                                                                                          src="/images/product/5.jpg">
                                                </a></div>
                                            </td>
                                            <td style="width:40%">
                                                <div class="miniCartDescription">
                                                    <h4><a href="product-details.html"> Tshir 2014 </a></h4>
                                                    <span class="size"> 12 x 1.5 L </span>

                                                    <div class="price"><span> $30 </span></div>
                                                </div>
                                            </td>
                                            <td class="" style="width:10%"><a> X 1 </a></td>
                                            <td class="" style="width:15%"><span> $80 </span></td>

                                        </tr>
                                        <tr class="cartProduct">
                                            <td class="cartProductThumb" style="width:20%">
                                                <div><a href="product-details.html"> <img alt="img"
                                                                                          src="/images/product/3.jpg">
                                                </a></div>
                                            </td>
                                            <td style="width:40%">
                                                <div class="miniCartDescription">
                                                    <h4><a href="product-details.html"> TSHOP T shirt DO20 </a></h4>
                                                    <span class="size"> 12 x 1.5 L </span>

                                                    <div class="price"><span> $15 </span></div>
                                                </div>
                                            </td>
                                            <td class="miniCartQuantity" style="width:10%"><a> X 1 </a></td>
                                            <td class="miniCartSubtotal" style="width:15%"><span> $55 </span></td>

                                        </tr>
                                        <tr class="cartProduct">
                                            <td class="cartProductThumb" style="width:20%">
                                                <div><a href="product-details.html"> <img alt="img"
                                                                                          src="/images/product/4.jpg">
                                                </a></div>
                                            </td>
                                            <td style="width:40%">
                                                <div class="miniCartDescription">
                                                    <h4><a href="product-details.html"> T shirt Black </a></h4>
                                                    <span class="size"> 12 x 1.5 L </span>

                                                    <div class="price"><span> $44 </span></div>
                                                </div>
                                            </td>
                                            <td class="" style="width:10%"><a> X 1 </a></td>
                                            <td class="" style="width:15%"><span> $40 </span></td>

                                        </tr>
                                        <tr class="cartProduct">
                                            <td class="cartProductThumb" style="width:20%">
                                                <div><a href="product-details.html"> <img alt="img"
                                                                                          src="/images/site/winter.jpg">
                                                </a></div>
                                            </td>
                                            <td style="width:40%">
                                                <div class="miniCartDescription">
                                                    <h4><a href="product-details.html"> G Star T shirt </a></h4>
                                                    <span class="size"> 12 x 1.5 L </span>

                                                    <div class="price"><span> $80 </span></div>
                                                </div>
                                            </td>
                                            <td class="" style="width:10%"><a> X 1 </a></td>
                                            <td class="" style="width:15%"><span> $8.80 </span></td>

                                        </tr>
                                        <tr class="cartTotalTr blank">
                                            <td class="" style="width:20%">
                                                <div></div>
                                            </td>
                                            <td style="width:40%"></td>
                                            <td class="" style="width:20%"></td>
                                            <td class="" style="width:15%"><span>  </span></td>

                                        </tr>

                                        <tr class="cartTotalTr">
                                            <td class="" style="width:20%">
                                                <div></div>
                                            </td>
                                            <td colspan="2" style="width:40%">Warenwert (ohne Ust)</td>
                                            <td class="" style="width:15%"><span> 216,51 € </span></td>

                                        </tr>
                                        <tr class="cartTotalTr">
                                            <td class="" style="width:20%">
                                                <div></div>
                                            </td>
                                            <td colspan="2" style="width:40%">Porto (ohne Ust)</td>
                                            <td class="" style="width:15%"><span> 5,50 €</span></td>

                                        </tr>
                                        <tr class="cartTotalTr">
                                            <td class="" style="width:20%">
                                                <div></div>
                                            </td>
                                            <td colspan="2" style="width:40%">Umsatzsteuer</td>
                                            <td class="" style="width:15%"><span> 35,64 € </span></td>

                                        </tr>
                                        <tr class="cartTotalTr">
                                            <td class="" style="width:20%">
                                                <div></div>
                                            </td>
                                            <td style="width:40%"></td>
                                            <td class="" style="width:20%">Summe (inkl. Ust)</td>
                                            <td class="" style="width:15%"><span class="price"> 257,65 €  </span></td>

                                        </tr>


                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>


                <div class="col-lg-12 clearfix">
                    <ul class="pager">
                        <li class="previous pull-right"><a href="index.html"> <i class="fa fa-home"></i> Zum Shop </a>
                        </li>
                        <li class="next pull-left"><a href="account.html"> &larr; Zurück zu meinem Konto</a></li>
                    </ul>
                </div>
            </div>
            <!--/row end-->

        </div>
        <div class="col-lg-3 col-md-3 col-sm-5"></div>
    </div>
    <!--/row-->
        <div class="col-lg-3 col-md-3 col-sm-5"></div>
    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>
<!-- /wrapper -->

<div class="gap"></div>

{% endblock %}
{% block js_bottom %}
<script type="text/javascript" src="/assets/js/jquery/jquery-1.10.1.min.js"></script>
<!-- include footable plugin -->
<script src="/assets/js/footable.js" type="text/javascript"></script>
<script src="/assets/js/footable.sortable.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('.footable').footable();
    });
</script> 

<!-- include  parallax plugin -->
<script type="text/javascript" src="/assets/js/jquery.parallax-1.1.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="/assets/js/helper-plugins/jquery.mousewheel.min.js"></script>

<!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

<script type="text/javascript" src="/assets/js/jquery.mCustomScrollbar.js"></script>

<!-- include checkRadio plugin //Custom check & Radio  -->
<script type="text/javascript" src="/assets/js/ion-checkRadio/ion.checkRadio.min.js"></script>

<!-- include grid.js // for equal Div height  -->
<script src="/assets/js/grids.js"></script>

<!-- include carousel slider plugin  -->
<script src="/assets/js/owl.carousel.min.js"></script>

<!-- jQuery minimalect // custom select   -->
<script src="/assets/js/jquery.minimalect.min.js"></script>

<!-- include touchspin.js // touch friendly input spinner component   -->
<script src="/assets/js/bootstrap.touchspin.js"></script>
{% endblock %}